[2014-12-08 23:30] sgtstadanko opened #1 "Add MAME support"
Hey.  Great utility! I have used this on my retropie to scrape my snes and 2600 roms flawlessly.  I am having issues with mame roms.  It fails on all of them either on the hash check with gamesdb or "no valid roms found in this zip" Not sure if this is a file name structure issue and a romset issue. It looks like from the error that scraper is actually looking in the zip file for data.  all the ma

[2014-12-13 12:18] widgetfonda opened #2 "Nintendo 64 support ?"
Hi dude, thanks for your scraper, it's a wonderful soft !

I've many N64 roms in my collection, can you add support for them in your scraper ?

Thank you !

[2014-12-23 09:28] patrick500 opened #3 "Question of performance"
Hi Steven,
you achieve a very good work with scraper, it's fine !
I have a question of performance :
I use your v0.5.4-beta version and my SNES folder. On 454 roms, the gamelist.xlm contains 375 images and weighs 405kb.
But now, when I quit Emulationstation to go back to prompt, the system is waiting/working for 1min to display the prompt and give me the hand.
For your information, I have the same

[2014-12-28 00:59] #3 closed, assigned to nobody

[2014-12-28 01:00] #2 closed, assigned to sselph

[2014-12-31 19:58] ProxyCell opened #4 "Use filename for name"
I would like to have the games named after the file name so that a game named "Cool Game (USA).nes" will be named "Cool Game (USA)" in the xml

Would this be possible for implementation?

[2015-01-02 16:46] gubernatorial opened #5 "Emulation Station not loading post-scrape"
Emulation Station doesn't seem to load after scraping, using v0.5.5-beta rpi.zip for retropie 2.3.  I'm receiving the following:

emulationstation: /opt/retropie/supplementary/EmulationStation/src/FileData.cpp:102: void FileData::addChild(FileData*): Assertion 'mType == FOLDER' failed.

Any thoughts as to what might be causing this to happen and how I might be able to get this up and running again

[2015-01-02 17:17] sselph commented on #5
You could delete the gamelist.xml file the script created which should get it up again. I think maybe there is something wrong with the gamelist file that is being created that is throwing off ES. I'll try running this on my retropie and reading the ES code, but in the meantime can you provide me with a little more information? Do you have several folders in your rom dir or are all the roms in a s

[2015-01-02 18:44] ProxyCell commented on #4
ok, this worked out wonderfully! i tested it on the gamegear games and all is good :)

[2015-01-02 18:50] ProxyCell opened #6 "Add Atari Lynx Support"
Now that the Atari Lynx is being emulated in RetroPie could support for atari lynx games in this scraper be given support for their games?

[2015-01-02 19:16] ProxyCell commented on #4
ok, spoke a bit too soon. i noticed that with games which do not exist in the database are not added to the gamelist.xml at all. i'm sure this was intentional but would it be possible to allow the scraper to add in games to the gamelist.xml with their filename? I just found a game gear game called Baku Baku Animal (USA) and Baku Baku (Europe) which were not found in the hash table, gdb or ovgdb
Th

[2015-01-02 19:29] sselph commented on #4
Ah so the default ES display strips out things in parens? and so you want to have an empty entry added with just the file name as a name?

[2015-01-02 19:58] ProxyCell commented on #4
i know you could just add it as a new option/argument but again, its up to you and if it is even within the scope of this app. i deeply appreciate the work you have put into this.

[2015-01-02 21:06] sselph opened #7 "GDB Check should only run when using GDB"

[2015-01-02 21:07] sselph opened #8 "Add options to append to an existing gamelist.xml file"

[2015-01-02 23:20] robertybob opened #9 "Fetch everything except images"
Hi!
I wondered whether it would be possible to only scrape descriptions/release dates etc and not images.

Basically, I have all my roms named with corresponding boxart images and I want to be able to create a gamelist.xml using those existing images but with game descrptions etc scraped from thegamesdb.net . Is this possible or something which could be possibly be included in a future release? Pe

[2015-01-02 23:31] sselph commented on #9
The current logic will have it skip downloading the image if there is already an image in the location where it was going to save the image. So if there is a rom file named rom_file.bin it will attempt to download images/rom_file.jpg images/rom_file-thumb.jpg if they exist it will skip it and you will see "INFO: Skipping: images/rom_file.jpg". If using -thumb_only it will only attempt to get the i

[2015-01-02 23:42] robertybob commented on #9
Thanks, I'll give it a go :)

[2015-01-03 21:35] gubernatorial commented on #5
Looks like that was it.  Deleting gamelist got ES back up and running.

I had each rom in a standalone folder, so I placed all roms in
RetroPie/roms/[console] and ran scraper again to create a new gamelist
file.  Works like a charm.

Much thanks for the assist and for all your work on the scraper.

On Fri, Jan 2, 2015 at 12:17 PM, Steven Selph <notifications@github.com>
wrote:

--
Joshua Baron Cah

[2015-01-05 01:17] dcteal opened #10 "Add Gzip Support (A2600)"
Whenever I try to run the scraper tool in RetroPie, I receive the following and it does go get any info -

pi@raspberrypi ~/RetroPie/roms/atari2600 $ ./scraper -thumb_only
2015/01/05 01:14:12 INFO: Checking for new hash.csv.
2015/01/05 01:14:16 INFO: hash.csv "4a026fa21c5ec19cfd43e88e57b6e76d" up to date.

Does the scraper not work with .a26 files?  I thought it indicated in the read me file that

[2015-01-05 01:48] sur0x commented on #10
dcteal try to specify the room folder / image folder and another name/location for gamelist.xml, I think the script thinks that gamelist is already up to date.

[2015-01-05 01:50] sselph commented on #10
Hmm for some reason I thought it only supported .bin and .zip but looks like it also supports .a26, .rom and .gz so I'll look into adding those extensions as well. a26 and rom are trivial gz will be slightly harder.

[2015-01-05 02:45] sselph commented on #10
Added a26 and rom extensions. I'll work on gzip support when I have time.

[2015-01-05 03:06] sselph commented on #5
Glad you got it working. I looked more into the issue and ES was trying add a file to a file while parsing the gamelist. Maybe the multiple nested directories was throwing off my script and I wrote some nonsense or ES wasn't sure what to do with that directory structure.

[2015-01-07 01:24] robertybob commented on #9
Hi ,

I've put my roms in one folder and the boxart images in /images, yet when I run the scraper it still creates rom-image.jpg and rom-thumb.jpg files and the gamelist.xml links to those new images, not the ones I originally had in the folder.

E.G SMB.nes in rom folder, SMB.jpg in /images folder - scraper creates SMB-image.jpg and SMB-thumb.jpg.

Am I doing something wrong still?

[2015-01-07 02:16] sselph commented on #9
Ah no I told you the wrong instructions. Sorry for the confusion. The files it expects are SMB-image.jpg and SMB-thumb.jpg. A quick fix would be to cd to the image folder and do something like:
[code]
This will rename all the files to include the -thumb.jpg and then tell the script to ignore the -image.jpg files and use the -thumb image for both. The thumbnails are not actually used so it is okay

[2015-01-07 08:16] robertybob commented on #9
Many thanks for your reply :) I used a Windows build if your scraper if that makes any difference?

[2015-01-10 00:11] #9 closed

[2015-01-10 21:22] sselph commented on #6
Sure there are only 65 games in thegamesdb so won't be a ton of work, but I don't know if that will leave a disappointingly number of games unscraped. What are the supported rom extensions, I don't have lynx in my es_systems.

[2015-01-10 22:43] ProxyCell commented on #6
well thats alright, in the entire English No-Intro set there are only 85 roms
they use the .lnx extension

[2015-01-11 03:06] sselph commented on #6
Added support for lnx and lyx(raw lnx without a header) and updated my hash DB with the new entries.

[2015-01-11 03:07] sselph commented on #4
Added support for No Intro names in the hash.csv and set using them when available as the default.

[2015-01-11 14:40] #4 closed

[2015-01-11 14:40] #5 closed

[2015-01-11 14:40] #6 closed

[2015-01-13 02:28] sselph opened #11 "Add better RetroPie integration"
Options to scrape all supported systems and place gamelists and images where Emulation stateion places them would be a good start.

[2015-01-13 02:39] sselph opened #12 "Add ability to refresh a gamelist"
If new games get added or the information in a db changes it would be good to be able to have the script only download what is different. There is already an ID/Source attribute we're adding to the xml they could be used to refresh the ratings, descriptions, etc.

[2015-01-13 02:40] sur0x commented on #1
@sgtstadanko I've managed to get 2.138 images from the mam4all working set(2.270 roms) here:

http://www.gotmame.com/files/snap/<filename>.png

just use clrmamepro with mame4all dat file get the game list then do some script to get the files from the website, that was the cheap solution for me.

(Emumovies has around 1.800 imgs only)

[2015-01-13 02:59] sselph opened #13 "Manual Scraper"
The script is great for roms it knows about but it could possibly have a web UI to show roms that aren't found in the hash DB and allow the user to manually search or input the information. Could optionally send the results to my server for improving the DB.

[2015-01-13 03:07] sselph opened #14 "Add flag to specify windows or *nix target"
The gamelists are currently built assuming that the gamelist will always be on a *nix system so all file paths use / but there should be an option to switch that since emulation station can run on windows.

[2015-01-13 03:14] sselph opened #15 "Better Documentation"
My readme is very terse. Adding better examples, etc would probably help users out.

[2015-01-13 03:37] sselph commented on #1
Yeah getting the mapping of filename, human readable name, image seems like it could be done fairly easily and this might be a good start. I think people would like to have the full set of metadata like thegamesdb has so maybe pull from that when available then fallback to the basic name, image when it isn't.

[2015-01-13 03:46] sur0x commented on #1
@sselph yeah, would be awesome to have all metadata for MAME/FBA

[2015-01-14 09:28] bubble-joe commented on #14
I haven't had any issue building and running scraper on Windows.

[2015-01-14 13:03] sselph commented on #14
Are you running EmulationStation on Windows? I was concerned about where the gamelist was going to be read. My use case has always been to copy the gamelist to a linux machine that is running EmulationStation(RetroPie) but it is possible for people to use Windows to run ES.

[2015-01-14 13:04] sselph opened #16 "Better Code Documentation"
I need to go in and update all doc strings and add a link in the readme to the godoc.

[2015-01-14 20:56] bubble-joe commented on #14
Yes, I am running ES on both Linux and Windows.
The windows version apparently has no problem finding the generated gamelists.

[2015-01-15 03:08] sselph commented on #14
Thanks for testing that out! Guess ES is smart enough to figure that out. I'll go ahead and close this bug.

[2015-01-15 03:08] #14 closed

[2015-01-18 02:22] robertybob commented on #13
Sounds good! Although I'm pretty sure emumovies's boxart etc downloader outputs two text files after scraping - 'have' and 'missing'. Perhaps if your scraper outputted a text file of missing games (plus their hashes so we could send it to you) that'll make it easier to know which games your scraper couldn't find.

[2015-01-18 02:23] robertybob commented on #13
(and might be simplier to implement than a webUI

[2015-01-20 06:39] sselph commented on #1
I've added a mame scraper that is pulling from mamedb. @sgtstadanko let me know how that works.

[2015-01-20 06:48] sselph commented on #1
Forgot to mention you have to provide the -mame flag to trigger the new logic.

[2015-01-20 06:58] sselph commented on #11
I was able to integrate this scraper's logic into Emulation Station so this is no longer required.

[2015-01-20 06:58] #11 closed

[2015-01-20 09:43] robertybob commented on #11
Good work! :)

[2015-01-20 18:05] sselph opened #17 "Investigate low GB hit rate."
A user has reported a low GB hit rate. Double check that dataset.

[2015-01-20 18:06] sselph opened #18 "Create a proof of concept reporting tool"
Allow users to have the script parse their gamelist to upload missing hashes.

[2015-01-20 20:03] sgtstadanko commented on #1
thanks! Ran it remotely and terminal results look good.  Will check UI when I get home.

[2015-01-20 20:42] robertybob commented on #17
Hiya, I've scraped again and it's found 195 out of 541. Lots of messages about not finding hashs

![example screenshot](http://i.imgur.com/ImqBadr.png)

[2015-01-21 13:34] robertybob opened #19 "Low GG Hit rate"
Hi Sselph,
I've scraped 258 GameGear games and hashs for only 101 games have been found. is this down to my roms or a databse thing like the GB low hit rate potentially is?

[2015-01-21 14:09] robertybob commented on #19
Just realised thegamesdb only have circa 150 games listed on their site. When I find the time this week I'll begin to add the ones I have that are missing from their website.

[2015-01-21 22:37] robertybob commented on #17
Having tried to scrape the first 10 games within Emulationstation itself on Windows, it still can't find certain games - despite me naming them exactly the same as what is on thegamesdb website. This leads me to believe it's a problem with their website, rather than your scraper.

[2015-01-23 02:42] sselph commented on #17
Okay a couple things are going on. A couple of the games I'm seeing are in my list so odd that they aren't picked up. Some are more recent additions to the DB so I'll work on adding those to my mapping. But before that I'll create a small tool so you can print out a list of what is missing with some other metadata so I can get a good idea of what is going on. I'll try and get that tool done tonigh

[2015-01-25 02:53] #1 closed

[2015-01-29 16:57] robertybob commented on #19
Hi @sselph , have added 141 GG games to thegames.db website - I think this is now 99% of all EU and NA games. Do you need to do anything at your end or will your scraper now find everything?

[2015-01-31 02:11] sselph commented on #19
Nice! I need to get them mapped over to the hashes. I'll get that done this weekend. And I haven't forgotten the script that reports missing information, I've almost finished it.

[2015-01-31 04:33] sselph commented on #19
Thanks for all the hard work. I added all the new GG games to the mappings it ended up being ~170 games.

[2015-01-31 15:43] robertybob commented on #19
That's great to hear, although I imagine coding is more hard work  (!).  Do you mean you found 170 new games, or there are 170 in total?

[2015-01-31 15:46] sselph commented on #19
170 new roms for 353 total. Some could be clones so the number of games could be slightly less.

[2015-01-31 20:57] sselph commented on #17
I created a prototype for a reporting tool. You run the reporter just like you would the scraper. It will run over all the roms like normal but will looks for missing hashes or known hashes that are missing GDB id in my hash.csv. It will place all the info in a missing.csv and upload info to my server. The screenshot is windows above so I linked the 2 windows versions.
https://storage.googleapis.c

[2015-01-31 21:19] biscuits99 commented on #17
Here are my results
http://speedy.sh/fSvsN/missing.zip

[2015-01-31 22:04] sselph commented on #17
Thanks, @biscuits99 Looks like 264 of the GB are actually missing from GDB or I don't have them in my database. I'll go through and check those again. Most of the others don't seem to be the standard releases but I'll check them more closely later tonight.

[2015-01-31 22:44] robertybob commented on #19
Just scraped again, only 20 something missing, so this is no longer an issue for me.

[2015-01-31 22:44] #19 closed

[2015-01-31 22:47] robertybob commented on #17
My results: https://dl.dropboxusercontent.com/u/48342677/missing%20gameboy.csv

[2015-02-01 02:57] sselph commented on #17
Thanks for the reports. I went through the GB section and updated it. There are about twice as many ROMs in the list now so that should help. I'll take a closer look at the ROMs where the hash isn't recognized at all and see what I can do.

With my scraper the files name doesn't affect anything as long as it has the correct extension. You should be able to name them a.gb, b.gb and it should be abl

[2015-02-03 02:10] sselph opened #20 "Update hashes for all systems"
Need to update the dataset with all the new games in the GDB.

[2015-02-03 02:10] sselph commented on #20
Finished GG, GB, GBC, GBA

[2015-02-03 09:36] robertybob commented on #20
Thanks for this!

[2015-02-04 10:00] robertybob commented on #17
Hi Steve,
I've still got 154 GB games where the hash cannot be found - would it be helpful for you if I was to go through and find thegamedb ID number for all of them, for when the hashes are sorted at your end?

[2015-02-04 16:30] robertybob commented on #20
I found more games I somehow missed 24 games from the thegamesdb - this spreadsheet has the GameDB IDs for them

https://dl.dropboxusercontent.com/u/48342677/NEW%20GameGear%20IDs.csv

[2015-02-05 03:33] sselph commented on #17
Sure, I can add your hashes into my dataset. The hash not found means that the hash wasn't in no intros hash set. This could mean they don't have a hash of the rom or that your version of the rom is slightly different. Just 1 bit different causes it not to match.

[2015-02-05 04:20] sselph commented on #20
Thanks. I added them all to the dataset and found some duplicate issues in the dataset and corrected those.

[2015-02-05 14:04] robertybob commented on #17
https://dl.dropboxusercontent.com/u/48342677/GameBoy%20GBD%20IDs%20for%20Hashes%20Not%20Found.csv

149 GB games - had to add 4 to thegamesdb . It's a shame that one bit could cause it not to match, I imagine I'm not the only one who has these exact .rom files. Ah well, if you're able to add them to your database then at least this won't be repeated in the future :)

[2015-02-05 14:05] robertybob commented on #20
Thanks !!

[2015-02-06 00:12] sselph commented on #17
Thanks, those hashes have been added to the collection.

[2015-02-08 02:30] koggaccio commented on #15
@sselph Hi, I'm Andrea from Italy.
I really appreciated your scraper! how to offer you a beer for your work? do you have a paypal account where to make a donation?
Bye!

[2015-02-08 13:41] sselph commented on #15
Thanks! I'm glad you like the script. I don't have an account to accept any donations, but If you are in a giving mood, you could donate to thegamesDB, EmulationStation, or RetroPie. I owe them a beer.

[2015-02-08 20:55] koggaccio commented on #15
Ok, thanks! I'll do.
Cheers,
Andrea.
Il 08/feb/2015 14:41 "Steven Selph" <notifications@github.com> ha scritto:

[2015-02-08 22:57] robertybob commented on #17
Hi, hope you're doing well. Just to let you know where I am- scraped my GBC games and out of the 240something that were missing, most were because the hash couldn't be found. I've gone through them and found the corresponding thegamesdb ID - about 35 are missing from thegamesdb website itself, so I've got those to add.

Out of interest, what is there to add/tidy up before you reach beta v1 or a 's

[2015-02-08 23:22] sselph commented on #17
Thanks again! Just send me the csv when you finish and I'll add those in.

I haven't been thinking about the versions just slowly incrementing the number. Only things I can think of are updating a gamelist instead of always creating a new one to refresh or append to it. Also some code clean up and documentation.

[2015-02-09 00:05] sselph commented on #20
Updated NES.

[2015-02-10 13:37] robertybob commented on #17
Yeah I was gonna say, I've never come across any bugs or crashes so I wouldn't have a Beta tag anymore :)

Here's my GBC list with 229 TGDB IDs https://db.tt/AiWGOyMb

[2015-02-12 03:00] MongoBongo opened #21 "Mame titles not scraping (fix included)"
Hey sselph.
I love this program, it makes it so much easier to scrape than via EmualtionStation,  I came across one issue and that was the title screen scraping for mame did not return any results, I have found the culprit in the source and recomplied and it worked perfect after the changes,
Might be worth considering to make the changes on the main branch.

In mamedb.go change the following,
***

[2015-02-12 04:13] sselph commented on #21
Thanks. I incorporated the fix into the master branch and will roll out a fix to the binaries.

[2015-02-12 04:13] #21 closed

[2015-02-12 14:59] robertybob commented on #17
Heya, just edited the link in my previous post - I realised I uploaded the wrong spreadsheet (had full URLs instead of just IDs).

[2015-02-14 01:12] sselph commented on #17
Thanks. I've added those to the list. Sorry for the delay, I was traveling.

[2015-02-16 14:50] Maikeximu opened #22 "Refresh / Scan All folders"
It would be nice to scan all but to achieve this, the users would have to edit a .cfg file or something stating :
* Folders (because of different emulators)
* Creating images folders in each folder

Then the script would automatically fetch the informations based on the current folder the scraper is on.

I don't know if it's doable.

Thanks for everything !

[2015-02-20 02:49] sselph commented on #22
You mean reading something like es_systems.cfg to get all the roms folders and then using that to scan all the rom folders and writing the gamelists and images to the correct folders?

[2015-02-20 07:22] Maikeximu commented on #22
Yes something like. One command line and all the data would be updated without `cd` to each system everytime.

[2015-02-23 14:03] robertybob commented on #17
Hi @sselph , I've rescraped my GBC games and 8 of them are incorrectly linked to the same GDB ID

<game id="21931" source="theGamesDB.net">
          <path>./Donkey Kong Country.gbc</path>
          <name>X-Men: Mutant Academy</name>
          <desc></desc>
          <image>./images/Donkey Kong Country-image.jpg</image>
          <thumbnail>./images/Donkey Kong Country-thumb.jpg</thumbnail>

[2015-02-23 14:15] sselph commented on #17
The csv you sent has all these having the same hash and that hash happens to be the hash you get when hashing an empty file. I'll remove them from the DB for now. Can you check the size of the original files to ensure they aren't 0 and if they aren't you can run shasum <file> to get me the real values.

[2015-02-23 14:44] robertybob commented on #17
I'm really sorry about that, you're 100% correct. I've just checked the files and they are indeed 0kb. Just goes to show I haven't gotten around to playing those yet (!).

Is there a similar piece of software that runs on Windows? I've Googled shasum and it appears to be Linux only (?)

[2015-02-23 21:38] robertybob commented on #17
Hiya. I've got replacement files and they all have hashes associated with them. Feel free to close this issue btw :)

[2015-02-25 00:29] #17 closed

[2015-02-25 12:52] sselph commented on #20
finished SNES

[2015-03-05 22:00] robertybob commented on #20
Hi @sselph , a few Genesis games that are currently missing (based on the ROMs I scraped)

https://dl.dropboxusercontent.com/u/48342677/Missing%20genesis.csv

[2015-03-06 23:32] robertybob commented on #20
My missing Master System ROMs

https://dl.dropboxusercontent.com/u/48342677/Missing%20MasterSystem.csv

[2015-03-07 04:30] sselph commented on #22
I added a -scrape_all flag. If you run the script on a system with ES installed it should attempt to scrape every rom folder on the system. It still places then gamelist and images in the rom folder itself.

[2015-03-07 04:30] #22 closed

[2015-03-07 05:03] sselph commented on #10
Added Gzip support.

[2015-03-07 05:03] #10 closed

[2015-03-08 03:15] sselph commented on #20
Thanks, I've added your entries.

[2015-03-09 22:13] LodanZark opened #23 "Megadrive\Genesis EOF issue"
It seems the improvements made to scrape MD\Gen on 6.6 beta update wasn't enough, I still have issues with Megadrive\Genesis EOF error.
Version Tested: 7.2 beta
compression: zip (32kb)
internal extension: *.smd

[2015-03-10 22:14] robertybob commented on #20
Hey. These two games result in duplicate entries (ID 611) https://db.tt/OxtZPmGp - one should be ID 611 (vs. Kingpin), one should be 2620 (animated series).

[2015-03-11 02:08] sselph commented on #23
Hi,
My recent changes should've removed any code in my MD handler that could return "unexpected EOF". If you wouldn't mind giving a few more details to help me narrow it down, that would be great.

Are there any other files in the zip, if so what are the extensions of the files?
Does this error occur if you unzip the file?  ```$ unzip rom.zip``` on linux
If it does work unzipped, what happens if y

[2015-03-11 16:53] LodanZark commented on #23
I will explain the process I have done maybe there is some clue to fix the issue.
As example I did pick up a rom validated with GoodGen 3.00 called “Contra - Hard Corps (U) [!].smd”  (CRC32: C579F45E), then using the winrar 5.21 I compressed to zip format with 32kb compression ratio which result “Contra - Hard Corps (U) [!].zip” (CRC32: 13457243).
I store the rom into RPi in specific folder “/home

[2015-03-12 01:33] LodanZark commented on #23
Oopsy I did a noobish mistake, I've forgot to ovewright  the old version into new version by the command  "$ sudo unzip scraper_rpi.zip scraper -d /usr/local/bin/".
Sorry for taking your time.

[2015-03-12 03:09] sselph commented on #23
No problem. Glad you got it working.

[2015-03-12 03:09] #23 closed

[2015-03-12 16:53] josephcole opened #24 "Please Add Support To Rename ROM Files"
First of all, this is by far the fastest and most accurate scraper I've found! Thank you! I use this to scrape all the thousands of games I have.

However, one feature I would like to see is the ability to rename the ROM files (ie: -rename_romfiles). This is an example shell snippet I use to rename my nes ROMS that can maybe give you an idea:

cd roms/nes
#Create new ROM dir
DESTDIR=../nes.new
mkd

[2015-03-16 00:25] sselph commented on #24
I recently wrote a script to rename some roms for a friend. I can see about adding it in as a feature/standalone app. I'll have to do a bit more work on my current script to make it ready for general use like, duplicate destination names, existing save and image information, etc.

[2015-03-18 13:43] robertybob commented on #20
Missing GBA games, part 1 (120-ish games)
https://dl.dropboxusercontent.com/u/48342677/GBA%20Part%201.csv

[2015-03-23 14:27] robertybob commented on #20
Hi @sselph , here all of the GBA games I had that were missing an entry in TGBD. There are now IDs for all of them:

https://db.tt/tEW7B4X8

Can you let me know when your database has been updated? :)

[2015-03-24 23:07] geoffyuen opened #25 "Scrape for ingame snapshots?"
I understand this might not be what this scaper is for but is there a way to get ingame images instead of boxart?

[2015-03-25 09:15] robertybob commented on #25
This scraper only scrapes from thegamesdb.net (which doesn't hold in game screenshots) and only then does it scrape the front box-art.

Your best bet is the emumovies equivalent scraper, the free version of which has certain limitations - if you chose to pay for it then it's fairly reasonably priced.

[2015-03-25 21:04] calle81 opened #26 "Scrape mame roms with .7z file extension"
Hi,
Thank you for this excellent scraper :) I have one problem though:
My Mame rom set is zipped with 7zip and all files have the .7z file extension. When i run the scraper it doesn't find any roms. Have I missed a command line switch or is 7zip currently unsupported?

Kind Regards,
Carl

[2015-04-08 00:39] waille commented on #26
Hi,

I have same issue all my mame roms are in .7z format and scraper is not picking up anything.

[2015-04-09 00:57] sselph commented on #26
I'm sorry it took so long to get to this. I've been traveling and was busy. I've checked in the code and will push out a version later this evening.

[2015-04-09 01:18] waille commented on #26
Thank you. Was just about to convert all my roms. Perfect timing. Excellent scaping tool by the way, used it for all my other roms, very fast and accurate compared to the one included in ES.

[2015-04-09 02:21] sselph commented on #25
As robertybob said, this is using thegamesdb for the images and the front box art is the most consistently available image. I have added a flag for you to tell it the type of image and have fall back options if the first choice is unavailable.

It works like:
-gdb_img "s,b"
This will try and get the first screenshot then fall back to the box art when not available.

[2015-04-09 03:50] sselph commented on #20
Sorry for the delay, I added your csv.

[2015-04-09 03:50] #26 closed

[2015-04-09 03:50] #25 closed

[2015-04-19 10:24] test159357 opened #27 "switch for local images"
How about a switch that enables the scraper to look for images in the rom path with the same name as the currently processed rom. If one is found it will be used. Otherwise the image from thegamesdb will be used.

[2015-04-19 10:45] #27 closed

[2015-04-19 10:47] test159357 commented on #27
workaround is pretty easy:
append "-thumb" at the image file name (bulk rename) and put them in the image folder of the scraper

[2015-05-04 02:46] BlackrosesXI opened #28 "Support for Nintendo DS"
Hello, first off, I want to say that I really appreciate your work. It works flawlessly. Do you think in some future your could add support for Nintendo DS? I assume it's quite some work, but it would be really appreciated.

[2015-05-04 02:49] BlackrosesXI commented on #20
I didn't realize there is a thread for that before I made mine. Support for Nintendo DS would be really appreciated. I have little knowledge in coding, but if it's a matter of time, I have time to spare. Thanks.

[2015-05-04 21:45] Pacolo opened #29 "Add hash for game"
Hi, I added this game to TGDB: http://thegamesdb.net/search/?string=Super+Soukoban&function=Search but the scraper can't find it.

Of course, the game is in No-Intro set: http://datomatic.no-intro.org/?page=show_record&s=49&n=2865

[2015-05-04 23:19] robertybob commented on #29
Seeing as there's an issue already open to update all hashes, would it not be best to add your game/link there? ( [issue 20](https://github.com/sselph/scraper/issues/20) )

If a new issue was opened for every game that's missing from this scraper, poor @sselph would be spending dozens of hours closing down each one individually lol

[2015-05-05 11:45] Pacolo commented on #20
Hi, I added this game to TGDB: http://thegamesdb.net/search/?string=Super+Soukoban&function=Search but the scraper can't find it.

Of course, the game is in No-Intro set: http://datomatic.no-intro.org/?page=show_record&s=49&n=2865

[2015-05-05 11:45] dagavi commented on #29
Done, sorry.

[2015-05-05 11:46] Pacolo commented on #29
I added the

[2015-05-05 11:46] #29 closed

[2015-05-05 18:38] Laddyacris opened #30 "Support for Psx, PSP"
Hello,
sorry for my english, is it possible to add support for psx, psp game ?
your tool is great !
thank for your work :D

[2015-05-06 01:11] sselph commented on #20
@Pacolo I added this game.

[2015-05-17 22:48] neitanod opened #31 "Save gamelist.xml on CTRL+C"
Sometimes the sraper hangs because a network event never occurs.  It's still stoppable with CTRL+C, but the gamelist.xml does not get generated.
It would be nice to get the partial scraped list into an XML, and a way to resume the process.

[2015-05-18 09:26] nickdj opened #32 "Description missing from FinalBurnAlpha roms"
I hope someone can point me in the right direction.

I've been working on a batch process to scrape a roms directory on Windows and output the results in a format which can be easily imported into Recalbox (EmulationStation).  This is working great for most roms, however, with FBA roms I'm getting no description although everything else is there.

Can someone point me in the right direction?  I've

[2015-05-19 02:14] sselph commented on #8
added -append flag

[2015-05-19 02:14] #8 closed

[2015-05-19 03:07] sselph commented on #31
I tried to implement this. Let me know how it goes. It should stop processing and attempts to cancel inflight http requests then write the gamelist.

[2015-05-19 03:07] #31 closed

[2015-05-19 03:14] sselph commented on #32
This is because the mame/fba logic is using a different source(mamedb) and the source doesn't have description information. There are other sources of the information but I haven't attempted to pull those in yet.

[2015-05-19 10:23] nickdj commented on #32
Thank you for letting me know as I thought it was something I was doing wrong.  The scraper within Recalbox works for the descriptions so will use this in the meantime. :-)

[2015-05-19 10:23] #32 closed

[2015-05-19 15:28] sselph commented on #31
forgot to mention the -append flag I added will look to see if the output file already exists and if it does reads it and skips any roms that are already listed. That should cover the resuming.

[2015-05-19 15:52] sselph commented on #32
NP I based my MAME scraper off of @digitalLumberjack code so I'll see if there are some improvements I can make. Also he created a fork of my script for recalbox that changes a few of the defaults(can mimic with -max_width=375 -no_thumb) and adds in the region and proto/original stuff over at https://github.com/digitalLumberjack/scraper
-max_width=375 -no_thumb to two of the changes that were made

[2015-05-19 18:42] neitanod commented on #31
Superb!

The -workers flag make a huge difference also.  It should probably be more
visible in the documentation, don't you think?

--
Sebastián Grignoli

2015-05-19 12:28 GMT-03:00 Steven Selph <notifications@github.com>:

[2015-06-04 02:42] snypervash opened #33 "Image Location"
Hello, I used the scraper and it incorrectly identified some roms and made several duplicates of others. I've since deleted the roms and the image folder but now when I add roms it automatically re-adds the images without me running the scraper command again. Is there somewhere else the images are located where I can delete them?

[2015-06-04 11:51] #33 closed

[2015-06-08 09:05] robertybob commented on #30
Hi @sselph , I'm adding my support to PSX, seeing as the Raspberry Pi can run a lot of the games pretty reliably. If you need assistance in matching games to TGDB IDs (with help from your Reporting tool) then I'm happy to provide support.

[2015-06-12 16:51] retromancer commented on #30
Hi @sselph
Great tool; I'd also really appreciate PSX support - the Pi 2 is virtually flawless on everything I've used, so I am building quite a library of PlayStation games.
Thanks

[2015-06-14 21:24] sselph commented on #30
I have looked at PSX support. The issue was that the collection of hashes I found was for .iso files but seemed like most people had bin/cue files. It seemed like it might be possible to convert to an ISO from BIN/CUE but couldn't find a ton of information on the file formats themselves so don't know if I could consistently convert to the same ISO that was used to create the hashes.

@robertybob i

[2015-06-14 21:55] robertybob commented on #30
My personal collection is of .iso files as I found that was the easiest way of ripping them. Would it be a lot of trouble if I did the .iso hashes and somebody else at a later point wanted to do the .bin equivalent?

[2015-06-14 23:01] robertybob commented on #30
@sselph Will do! I'll upload one .csv file here. My .bin files are in separate folders so you may get lots of csv files sent to your server in the mean time while I run the reporting tool (apologies in advance for that).

[2015-06-15 13:07] robertybob commented on #30
@sselph I've only got 60 games in my collection (out of the 1300 TGDB lists) and unfortunately  I don't have the time or storage space to told that many games at any one time. Would you like me to ask the community (e.g. people like @retromancer) to use your reporting tool and send the CSV of hashes to me so I can collate them?

My hashes: https://drive.google.com/file/d/0ByWwZdQX1FQmM3hCYWdnWkZUQ

[2015-06-15 14:00] sselph commented on #30
Let me start by adding the iso hashes I can find and adding recognition of the iso file extension. Then I'll do some more investigating on the different file formats. Maybe I can find some time to do that this evening. If I can't figure out the file conversion I can start seeing if people can donate hashes for the other file formats. If there are 1300 games it will probably take me a couple evenin

[2015-06-15 15:07] robertybob commented on #30
What I could do at some point this week is look into software such as MagicISO whicih claims to convert .bin to .iso - I convert a couple of games to .iso and see whether the hashes are the same.. in which case that should make things a lot easier for all!

[2015-06-15 15:56] sselph commented on #30
Actually I got that backwards I have the hashes for bin/cue. I'll go ahead and get those added. Then see if it is possible to convert a iso/img to a bin so I can hash it. From what I understand, the iso is similar to a bin but with less information so that transformation might not be possible, but we will at least have partial support.

[2015-06-15 22:21] robertybob commented on #30
Sounds good. I've found a few more .bin files but when I run the reporting tool it doesn't appear in the missing.csv and obviously when I run the scraper it doesn't appear in gamelist.xml so does that mean it's a bad dump?

[2015-06-16 10:00] robertybob commented on #30
Also, is your list of hashes from here?
http://redump.org/discs/system/psx/region/Am/
http://redump.org/discs/system/psx/region/Eu/
I note that it has the sizes, MD5 and SHA-1 hashes so for games I don't own, I could manually add these (with their TGDB ID) to a spread sheet as that is the data presumably pulled by your reporting tool?

Also, having so far only got PSX games with single discs, I ca

[2015-06-16 15:20] sselph commented on #30
Yeah that is what I ran in to last night and have an idea. I'll create a special flag for bin/cue scraping that will first scrape the cue file and if it matches a hash add it. But the cue is just a text file with all the names of the bin files in them so if the file name doesn't match the expected name it won't match the hash so I'll then hash the bin files to see if there is a match but only add

[2015-06-16 15:50] robertybob commented on #30
That sounds promising. Is there anything I can do to help in the mean time? Would you still like more TDGB's matched to .bin hashes?

[2015-06-16 17:03] sselph commented on #30
Let me get the original set created and we can see if there is anything missing. It will take me a couple days since there are 1300 games.

[2015-06-17 15:01] karl0ss opened #34 "Add Dreamcast support"
As Dreamcast is pretty much working now on RPi2 with RetroPie, any chance this can be updated to include Dreamcast support?

[2015-06-17 15:56] karl0ss commented on #34
I see in other threads you need hashes? if you tell me how I can get them I will try and create a csv for you?

[2015-06-17 21:08] robertybob commented on #20
I've added a dozen more GBA games to my library and noticed that there were IDs for 6 of them (4 of which were actually missing from TGDB!).

https://drive.google.com/file/d/0ByWwZdQX1FQmRmdvT3B1MThYMVE/view?usp=sharing

[2015-06-17 21:20] robertybob commented on #34
@karl0ss Just out of interest, which are the DreamCast games (that you're playing) that work really well? Is Reicast working better than the N64 emulators?

Having had a quick look over at TheGamesDB, there is quite a lot of info missing from their 300 Dreamcast games:
http://thegamesdb.net/browse/16/?sortBy=g.GameTitle&limit=100&searchview=table

Do you have an account on that website and would y

[2015-06-17 22:53] sselph commented on #34
I can't make promises but I will look in to it. I have the hashes from redump for gdi/bin which, without any research, looks similar to cue/bin that psx uses so that is good. The issue with redump is that clones aren't called out so if a game has a different title in the US and Japan I might miss the Japan version if it isn't named the same.

@robertybob I seem 561 games in redump but there is no

[2015-06-18 09:59] karl0ss commented on #34
@robertybob I've been playing Virtua Tenis/Shenmue and a few others, if you look at this post - http://blog.petrockblock.com/forums/topic/configuring-controllers-in-reicast/ there has been good progress made on the emulator, I have an account on TheGamesDB and if you give me the hashes or what is missing (or tell me how to get) I will more than happily update the information for you guys.

[2015-06-19 01:21] sselph commented on #30
https://docs.google.com/spreadsheets/d/1nd4Kp7c4fQMhS00xBmiFI4VNIYAbUp-u3O-N52TvGKQ/edit?usp=sharing

This is my work in progress. Feel free to request permission to edit. I have some scripts and Vlookups to match most the games by name to the name in tgdb. I now go through and look at all tgdb games to make sure they all match a game in the redump DB.

[2015-06-19 01:24] sselph commented on #34
https://docs.google.com/spreadsheets/d/1rrXIvS1OijhdabPuyDkHd4nzb2y0qfbrbXdqGfzWDEw/edit#gid=988131021

This is my work in progress. Feel free to request permission to edit. I have some scripts and Vlookups to match most the games by name to the name in tgdb. I now go through and look at all tgdb games to make sure they all match a game in the redump DB.

[2015-06-19 08:46] robertybob commented on #34
This looks great! Is there a reason some cells are red and others green? At first I assumed it was because there wasn't a corresponding entry on TGDB but now I'm not so sure.

I checked a few of the links and they match up to the correct games, so as it seems to work ok maybe @karl0ss (and at a later date myself) fill in the missing Release Dates / Developer / Publisher information ?

[2015-06-19 08:58] karl0ss commented on #34
Yeah, if you let me know what you need me to do to get dreamcast scraping working, I will do what I can to help :)

[2015-06-19 11:43] sselph commented on #34
This is me matching entries in redump to entries in tgdb I start by formatting the names in similar ways to find matches which gets most of them but there is some manual work. So the left tab is redump the right is tgdb. On redump red means I haven't matched it to a tgdb entry yet. Green means it has been matched. On tgdb tab red means that it hasn't been matched to a redump entry yet, green means

[2015-06-19 13:11] robertybob commented on #34
I think I understand now! So to make every tgdb entry green, we would be to hash the ROMs ourselves.. and to make every redump green we need to create an entry in tgdb ?

Could you tell me how I get permisison to ammend the spread sheet? Otherwise I'm more than happy to post stuff here:

aerowings 2 airstrike - 19317
Alienfront Online - 2411
Buggy Heat - 11073
Caesars Palace 2000: Millennium Gold

[2015-06-19 13:17] sselph commented on #34
Not quite, all it takes right now is to copy and paste the name in tgdb tab in to the redump tab to mark that it matches. It is usually something like redump says might & magic and tgdb says might and magic so you edit the redump side to match the tgdb side then things turn green. To get access you should be able to sign in and click the share icon and request an invite.

[2015-06-19 13:19] robertybob commented on #34
Ah right, found it, but It's asking me for your email address

[2015-06-19 13:22] sselph commented on #34
Ah it is on my page here steven.selph@gmail.com

[2015-06-19 22:58] robertybob commented on #34
The Redump tab is complete for all games except Japanese and non English language (French, German etc.).

In the TGDB tab I believe the vast majority of the red cells are technically duplicates - European releases of games which already have an entry for their US counterpart (whether that has the identical name or not).

[2015-06-19 23:33] robertybob commented on #20
Is there a spreadsheet I can use to make additions? I reckon I've got 48 entries to make :)

[2015-06-20 01:07] sselph commented on #34
Thanks! I'll work on adding the gdi/bin support to make use of these.

[2015-06-20 04:24] sselph commented on #34
I added gdi/bin support but appears that the es_systems.cfg may be set to only use cdi. So may need the hashes for cdi images too. @karl0ss if you have a somewhat complete set of games that you are sure are good and named correctly you can send me the hashes.

On Linux:
[code]

It will take a while since the images are typically large but when it completes you can email me the hashes.shasum file.

[2015-06-20 10:40] seriema opened #35 "Add Commodore 64 support"
Thanks for a great scraper! I hope it can become part of EmulationStation once it supports the same number of emulators.

Commodore 64 has thousands of games and running the regular scraper is extremely slow so having support for it on your scraper would be a huge gain.

[2015-06-20 21:34] robertybob commented on #20
@sselph New GBA games to add to your list :) https://drive.google.com/file/d/0ByWwZdQX1FQmVEE2RGJsaUdxbTQ/view?usp=sharing

Could you let me know when they're added so I can re-scrape?  Many thanks!

[2015-06-21 00:37] robertybob commented on #30
I've started editing the spread sheet- only problem is I entered new games at the bottom of the TGDB tab and matched the names on the Redump tab - however they weren't turning green. Wasn't sure if I was doing something wrong or if the conditional formatting hadn't copied down correctly (?)

[2015-06-21 00:50] sselph commented on #20
@robertybob Added.

[2015-06-21 00:56] sselph commented on #30
@robertybob fixed. I had an issue in some of the hidden columns.

[2015-06-22 01:26] sselph commented on #30
I've completed matching all TGDB games to redump games that I can find. As I was going I looked for very similar non-english titles and matched them as well. If you have more games you want to add let me know. After that I'll convert it to csv and add it to the others.

[2015-06-22 08:47] karl0ss commented on #34
Hey sselph.

I will get on and do that tonight for you, I have a pretty much complete set.

[2015-06-23 04:05] sselph commented on #35
Thanks, I'm glad you like it. I created a C++ port that has been checked in to the unstable branch of ES so it will be there eventually.

There are a little less than 500 games in thegamesdb so even if they all match up I won't have thousands but I can give it a shot. The format of the C64 dat file is different from the other systems I've been working with so I'll need to work on something to pars

[2015-06-23 04:10] sselph commented on #28
Thanks, I'll take a look at adding this.

[2015-06-23 04:31] sselph commented on #30
I've pushed out all the changes that should allow the bin/cue PSX stuff to work. Let me know if it does.

[2015-06-23 08:49] robertybob commented on #30
Brilliant! If you haven't already done so, I think you should great a new post on the RetroPie forums to inform everyone of the recent huge additions (DC & PSX) ! :)

[2015-06-23 11:58] Messij opened #36 "Image destination"
Is there a way to change the downloaded images destination.
I would like them in the same folder than the rom, even if the rom is in a subfolder.
For exemple in my snes folder I have 4 folders: All, Best, Nintendo and RPG with roms inside each folders. I wold like the images corseponding to these game in the same folder as the rom and the gamelist.xml in the snes folder with good paths.
Thank for

[2015-06-23 12:05] sselph commented on #36
if you are running the scraper inside the rom directory something like this might work. Let me know how it goes since I've never tried it.
[code]

[2015-06-23 21:15] seriema commented on #35
There are a lot of "30 in one" type of games so maybe most of those thousands aren't interesting to scrape (or even keep).

Can I help in any way?

[2015-06-25 00:57] J-Swift opened #37 "Add scummvm support"
To start... thanks for the tool, it works great!

And to jump on the bandwagon of asking for additional platform support... are there any plans on scummvm?

[2015-06-25 08:26] robertybob commented on #37
I can't speak for @sselph , but I would assume someone would have to compile a definitive list of scummvm-compatible games from the 'PC' section of thegamesdb.net to scrape against (seeing as scummvm is not a platform but an emulator of specific PC games).

[2015-06-25 22:03] sselph commented on #36
Closing. Feel free to reopen if there are issues.

[2015-06-25 22:03] #36 closed

[2015-06-26 13:30] sselph commented on #37
I haven't used scummvm before, haven't really heard of it before this issue so have no clue how things are structured and it seems unlike most of the other emulators in ES. So I have lots of questions.

In the scumm source code they have hashes that map to the names of the games so that data is there. Also scummvm contains several engines and one of the many engines is scumm is this the main engin

[2015-06-26 13:42] sselph commented on #35
I've been using xml formatted data for other systems but for some reason I can't get that format for C64 so I'll have to carve out some time to parse the ClrMAME Pro file. Once that is done I can create a file to start mapping the rom hash information to thegamesdb information. You could assist in that process but it might be a while until I get to that point.

If you are up to the challenge what

[2015-06-27 11:18] seriema commented on #35
I'd love to give it a shot!

Just trying to understand what you need. An example for C64 would be:
52523BB41021F208EEFD87C19F7CC0A1, 25528, Transformers
[Datomatic](http://datomatic.no-intro.org/index.php?page=show_record&s=44&n=1541)
[GamesDB](http://thegamesdb.net/game/25528)

The hash seems short so it might be the wrong one. Do you already automate this part and you need to hash the files your

[2015-06-27 15:26] sselph commented on #35
yeah that hash is the md5 and I've been using sha1. So for transformers I would have:
28a2d07ad046be8ebff691802edbbc8333731b03,25528,Transformers, The (Europe)

I have it partially automated if I can parse the hash file so I went ahead and wrote a parser and created this sheet. It has 2 tabs, No-Intro and TGDB. On the No intro tab I have the hash, original name and a normalized name that hopefully

[2015-07-01 18:35] mkevins opened #38 "Problems with go get."
I have go version 1.2.1 linux/amd64 from the 14.04 Ubuntu repositories. This version matches the version in the example at the top of the readme. A few search results on the errors suggested using a newer version of go. Was something changed that broke this for the repo version?

Here are the errors after running ```go get github.com/sselph/scraper```

[code]

[2015-07-01 18:43] sselph commented on #38
Sorry I moved my version of go to 1.4.2 and didn't test if I was backward compatible. I am thinking of adding some build testing to catch this in the future. I'll investigate if I can implement this same functionality without requiring newer versions of Go.

[2015-07-01 20:23] sselph commented on #38
Let me know if that fixes things. I merged in a bunch of changes one which should take care of the build issues in go1.2

[2015-07-02 06:17] HerbFargus commented on #37
I'm not super familiar with your tool- its next on my list of things to test, but as an avid scummvm fan (I wrote most of the wiki on it)  you seem to have it spot on- the .svm files are created  based on these data files: http://wiki.scummvm.org/index.php/Datafiles.  as you detailed in your google doc. The video on the wiki page shows how the .svm files are generated- the svm files generated equi

[2015-07-02 14:41] mkevins commented on #38
That was a fast response! Yes, the fixes seem to have worked. It compiles with stock go from the repos now. I will close the issue. Thanks you!

[2015-07-02 14:41] #38 closed

[2015-07-03 01:16] sselph commented on #37
@HerbFargus
Thanks. I think I have enough to start. The game list across all engines is very small so I'll just make a mapping of gameid to entries in TGDB if it exists. I'm in the middle of refactoring the code so after that is done I should be able to add the stuff for scraping scummvm in.

Can you confirm that the svm files in the roms directory are named balloon.svm, baseball.svm, basketball.s

[2015-07-03 01:25] HerbFargus commented on #37
I'm adding my scummvm files right now to verify the svm files. I'm pretty sure they match the data files. I'm working on your chart right now as well.

[2015-07-03 01:31] J-Swift commented on #37
I can put some time into this as well seeing as I submitted the ticket.

@HerbFargus Do you know if the .svm files equate to a particular version of a game (e.g. apple II version can be distinguished from DOS version)? If so, then there would be quite a bit more work in terms of mapping each .svm to its versions. It would also require more work bringing TGDB platform support up to par with the pla

[2015-07-03 01:34] HerbFargus commented on #37
I've done almost all of the humongous entertainment games on thegamesdb already minus a few obscure ones here and there I'll try and add the missing ones as well at some point. I'm not sure how the .svm files handle different versions. for games like backyard sports there are 3 or 4 different versions based off the year but I think that the data files are also different too so that would make the

[2015-07-03 01:53] sselph commented on #37
I didn't notice that before but seems the gameid can reference the same game on different platforms
example maniac(Maniac Mansion) is on Apple II, C64, DOS, Amiga, Atari. So we can just choose the PC entry for it and call it a day or I can try and write a more elaborate scraper, seeing if the svm file can be read and then use that to see if it contains platform information or the list of files and

[2015-07-03 02:09] HerbFargus commented on #37
yeah i just realised that- the svm is equivalent to the gameid but the game id will vary by platform depending on the source of your files so for example my file for freddi fish 2 is `freddi2` but the svm file created is freddi2-win. I think selecting pc would be the simplest route.

[2015-07-03 02:10] J-Swift commented on #37
@sselph Right, that's what I was getting at above. I have a basic scraper for the supported platforms broken down by game, as [provided here](http://scummvm.org/compatibility/). You can find the output from a runthrough here:
https://docs.google.com/spreadsheets/d/1Ypua9vwLzvJy24z4XObpvgf0XZcytBNC7ZISrxihzo4/edit?usp=sharing

I just pulled the PC game id for all games when editing your sheet. Like

[2015-07-04 20:56] biscuits99 opened #41 "Unsupported protocol scheme"
Great new mame scraping functionality, but I do get this error on some fba based roms

ERR: error processing theroes.zip: Get : unsupported protocol scheme ""
ERR: error processing woodpeck.zip: Get : unsupported protocol scheme ""
ERR: error processing sraider.zip: Get : unsupported protocol scheme ""

I ran "scraper -mame" on the Raspberry Pi

[2015-07-04 23:51] sselph commented on #41
Thanks. I think I found the issue. When a game had no images available I was attempting to get the URL "" instead of skipping the download. I'll see if there are any more issues then roll out a fix tonight.

[2015-07-05 01:18] #41 closed

[2015-07-05 07:18] Laddyacris commented on #30
Thanks a lot for your work !

[2015-07-05 13:46] sselph commented on #30
No problem. I'm keeping the issue open to continue to track psp but I haven't looked at that yet.

[2015-07-05 19:36] sselph commented on #24
Sorry for taking so long. I was working on refactoring code so I could reuse the logic for the renaming. I'll see about adding this to the released binaries and add some documentation but it is here:
https://github.com/sselph/scraper/tree/master/rename

and you can run it like:
./rename *.nes
That will just print out what is being renamed
./rename -dry_run=false *.nes
will actually rename things.

[2015-07-05 19:36] #24 closed

[2015-07-06 02:29] sselph commented on #16
Done

[2015-07-06 02:29] #16 closed

[2015-07-06 03:21] sselph commented on #12
Done

[2015-07-06 03:21] #12 closed

[2015-07-06 03:30] sselph commented on #37
I added all the entries that were in the sheet. Feel free to let me know when the DB has more games and I can update my DB.

[2015-07-06 03:30] #37 closed

[2015-07-11 07:05] DrMaxwell commented on #30
Hi @sselph so what rom set matches the hashes you have in the scraper? The Redump set?

[2015-07-13 10:22] johnnybravo1 opened #42 "scraper not reading full directory"
Hi,

Thanks for taking the time to write such a useful tool!

I have an issue that I can't figure out... When I run "scraper -thumb_only" (v0.9.3-beta for PI 2) in my roms directory, it only reads one or two entries then ends. I've removed the gamelist and tried again but it still only picks up the same one or two roms, there are many more in the directory. This is for snes and megadrive.

The -ma

[2015-07-13 22:11] sselph commented on #30
Yes it is the redump set in bin/cue format.

[2015-07-13 22:16] sselph commented on #42
Can you give me a couple more details?

Does it give not found errors for everything and only adds 1-2 things to the gamelist? or does it only ever mention the 1-2 files?

[2015-07-13 22:24] DrMaxwell commented on #30
Thanks for the reply mate! What other systems are being added? MSX would be
great!
On 14 Jul 2015 8:11 am, "Steven Selph" <notifications@github.com> wrote:

[2015-07-13 22:39] johnnybravo1 commented on #42
It only ever mentions the same 1 file for my SNES ROMs, and 2 for megadrive
(one of the ROMs for megadrive is "not found") but the rest appear to be
ignored.

I have no idea why it only sees those files every time, there are many more
with the same file extension.

On Mon, 13 Jul 2015 23:16 Steven Selph <notifications@github.com> wrote:

[2015-07-13 23:18] sselph commented on #42
Odd can you email me the listing (ls -lh) or shasum(shasum *) of the files.

[2015-07-14 22:02] johnnybravo1 commented on #42
Here is the listing:

https://www.dropbox.com/s/2kcs19elyphd0y5/snes_rom_dir.txt?dl=0

I've also ran the scraper and printed out the gamelist.xml at the end of
the file so you can see the output.

Looking at it more closely, only the .smc and .bin extensions are scraped.
Is there anyway to include .zip and .srm?

On Tue, 14 Jul 2015 00:18 Steven Selph <notifications@github.com> wrote:

[2015-07-14 22:25] johnnybravo1 commented on #42
OK, so unzipping the files works fine :)

Is there a way to scrape .zip? Normally there would be no need to unzip, shame to lose the all that saved disk space!

[2015-07-14 23:01] sselph commented on #42
it used to put looks like i introduce a bug. I'll get it fix in the next couple hours.

[2015-07-14 23:58] sselph commented on #42
Okay v0.9.4 should hopefully fix the issue.

[2015-07-15 23:24] johnnybravo1 commented on #42
Just tested v0.9.4 - Now reads all zip files.

Thank you!

[2015-07-15 23:46] sselph commented on #42
Thanks for finding the issue.

[2015-07-15 23:46] #42 closed

[2015-07-24 08:35] Ekstreme opened #43 "Add Neo Geo Pocket support"
Please add NGP and NGP Color. Thanks.

[2015-07-24 08:46] robertybob commented on #43
There's only 7 NGP and 47 NGP Colour games on thegames.db . Were more than released?
If so, you're best signing up to that website, adding all the missing games, then asking @sselph  so he doesn't have to keep going back and adding individual games periodically.

[2015-07-24 09:05] Ekstreme commented on #43
No more release AFAIK. The issues is they are considered separate systems. emuationstation scraper won't look up NGPC

[2015-07-26 12:13] locvez opened #44 "Allow -add_not_found to scrape any file extension"
Hi,

Firstly, amazing tool, thank you for developing it.

Would it be possible to allow the scraper to scrape any file extension when using the -add_not_found switch? I have 4400 Sinclair Spectrum games and I had to use Bulk Rename Utility to rename all the .z80 files to .zip's and back again once scraped.

I was going to do the same with my BBC Micro games but I noticed some of them have differen

[2015-07-31 10:32] locvez commented on #44
Just an addendum to this - Would it be possible to add a -extensions switch that would allow us to specify custom extensions?

I just find it useful that it can list all discovered roms, even if they don't have metadata / artwork attached as ES removes all text within parenthesis which is handy to keep if you have multiple roms with the same name but it specifies region, or other specifics (for ex

[2015-08-02 00:05] sselph commented on #44
Hi, I had a similar idea when I first saw the issue I just haven't had much time to work on anything over the past week.

[2015-08-04 05:53] Liquidream opened #45 "Option to specify region (US/EUR) for images?"
Hi,
Is it possible to add an option (or tell me how) I can specify to download the European/UK version of covers (e.g. "blue" Megadrive covers, as opposed to "red" Genesis ones)?
I'd be happy for the scraper to fall-back on "US" cover, if no "EUR" equivalent can be found.
Not sure how many other systems this would apply to?
(Note: If it should be pulling the correct cover from the hash of the rom,

[2015-08-04 20:38] robertybob commented on #45
If you scrape games as Megadrive it'll pull Megadrive images from thegamesdb. The only issue is that people repeatedly upload Genesis covers and getting them replaced can take months and months for a mod to approve it.

[2015-08-04 22:23] sselph commented on #45
Thanks. I can do some of this on my side by trying to match the games marked as megadrive in thegamesdb to the non-US hashes and genesis to US hashes and if it isn't available falling back to the other version. As @robertybob mentioned it also has to be correct in thegamesdb. When I make the next pass of Sega/MD I'll keep this in mind. The first pass I did I just grabbed the first match I saw.

[2015-08-05 02:34] robertybob commented on #45
Honestly, it's not worth spending any of your time on it @sselph until every Megadrive entry is there and every entry has the correct artwork.

In the mean time (and I know it could be a rather big job) you'll have to make do with scraping as normal, then hunting down and replacing Genesis images with Megadrive ones. It's not that hard to do, just check out SegaRetro for hundreds of hi-res MG box

[2015-08-05 08:35] Liquidream commented on #45
Thanks for the advice guys. :grinning:
Doing the scraping from the \megadrive folder seems to have improved the accuracy, but understand there's little that can be done if the source is "inconsistent".
TBH, I may already have the covers downloaded somewhere, so if I can really be fussed, I may do the manual task. Maybe. :wink:

[2015-08-10 06:34] HerbFargus opened #46 "[Suggestion] RetroPie Module"
Perhaps I should open up this ticket on the retropie github page rather than here, but as your scraper seems to be quite a bit more effective than the built in scraper for emulationstation- Do you think its viable to code your scraper as a retropie setup-script module? Granted it would probably run from the setup script rather than from emulationstation like the other one, but I think it would sti

[2015-08-10 22:06] sselph commented on #46
I proposed this several months ago in
https://github.com/RetroPie/RetroPie-Setup/issues/578
But we concluded it would be much better as part of emulation station so I checked in
https://github.com/Aloshi/EmulationStation/pull/355

Since aloshi got a job development has slowed down, so this hasn't made it to the stable branch. I've also been busy but if someone had time I don't mind someone adding

[2015-08-11 06:16] HerbFargus commented on #46
Yeah emulationstation development has kinda been at a standstill for a while so I figure it's best to just integrate stuff with retropie while I can as there's no telling when emulationstation will resume development, and if/when it does resume in the future then our changes can be adapted and pushed upstream. Personally I think your scraper should be the default as it runs much faster and is more

[2015-08-11 11:52] sselph commented on #46
Very nice. I've never had issues and never really did any tests to see if there were issues. If there are issues, I think it might be that ES waits until it is closed to write to disk and it might do that regardless of things being edited inside ES. I think if you trigger the script from ES it might solve that issue.

[2015-08-11 12:14] sselph commented on #46
Also, right now -scrape_all doesn't know to change settings when it finds an arcade platform. I'll fix that soon.

[2015-08-11 21:23] HerbFargus commented on #46
That will be a very useful change- I'm looking forward to it. Looks like jools will be integrating it into the retropie setup script sometime in the future, so I'll close this issue. Thanks for the input and your work with this scraper :)

[2015-08-11 21:23] #46 closed

[2015-08-21 21:23] robertybob commented on #20
Hi @sselph , just 5 Turbografx games missing from your scraper

https://www.dropbox.com/s/13lf004v2fiwiv5/Turbografx.csv?dl=0

[2015-08-22 21:51] sselph commented on #20
Done

[2015-08-28 00:47] robertybob commented on #20
Hi again @sselph . Thank you for adding those TG16 games. I've now started importing PS1 games into my Pi. I had scraped all 63 games, 35 downloaded images and details entered into the gamelist, yet running your reporting tool gives a figure of just over 50. Not sure what's going on there.

Either way, here's my hashes and TGDB IDs for inclusion onto your database :)

https://www.dropbox.com/s/3pa

[2015-08-29 00:03] robertybob commented on #18
Hi Sselph. I note that work is underway to incorporate your scraper into RetroPie by @joolswills and @herbfargus. I wondered whether if it would theoretically be possible / practical to do the same for the Reporter.exe you created (which isn't available to download on this GitHub?).

For example; someone scrapes all their systems within RetroPie, finds quite a few blanks and wants to help improve

[2015-08-29 00:54] sselph commented on #18
Thanks for the suggestion. I have been keeping it to trusted testers for now since I blindly add anything you send me. I assume you are certain the game named ABC is actually ABC and you've matched it to ABC in thegamesdb. For any ole person I'll want to probably factor in some trust mechanism so I know that the file names they provide are actually what the game is and just never figured it out.

[2015-08-29 08:55] robertybob commented on #18
I've just had a better idea - what about only reporting those where the hash is found but no entry in TGDB can be found? At least that way it's going to be obvious whether the game is there or not.

[2015-08-29 09:07] robertybob commented on #18
(Compared to whether someone's named the game correctly or not)

[2015-08-29 10:48] sselph commented on #18
I actually have that complete list. It is at the bottom of the hash.csv file but is missing platform information. If you like I can output it to a sheet for you to take a look at.

[2015-08-31 18:39] robertybob commented on #18
Yes please, I'll probably be useless when it comes to Japanese games mind you, but I'd certainly like to help :) Did you see my message about the PS1 games?

[2015-08-31 19:13] sselph commented on #20
The script checks the cue then the bins so it is possible the cues were correct since they are just a text file but the bin was slightly different. The reporter tool doesn't look at cue files so it isn't printing those. I can add these bin's in.

[2015-08-31 19:32] robertybob commented on #20
Ah ok, that's where I'm going wrong- I haven't got any .cue files set up yet

[2015-09-02 21:24] edvakf opened #47 "GIMME_ARM should be GOARM in .travis.yml"
This project: https://github.com/sselph/scraper/blob/master/.travis.yml

[code]

Some other project: https://github.com/rackspace/rack/blob/master/.travis.yml

[code]

Seems like gimme doesn't check for GIMME_ARM https://github.com/travis-ci/gimme/blob/master/gimme

[2015-09-02 22:24] sselph commented on #47
Thanks! I updated the file.

[2015-09-02 22:24] #47 closed

[2015-09-02 22:50] robertybob commented on #20
So basically without .bin support within the reporting tool, there's no way for me to gain the hashes of the games definitely not being picked up by the Scraper?

[2015-09-07 19:16] the0neWhoKnocks opened #48 "Ignore dot files"
I have a folder called `.unused` in my system directories, for example `/roms/snes/.unused`. In that directory are ROMs that I may revisit at a later date. Emulationstation will ignore that directory since it's a dot file, but scraper will dive in and scrape everything in there.

Would it be possible for you to remove that behavior, or is there a flag that would enable me to ignore specified sub-d

[2015-09-09 18:10] sselph commented on #48
Thanks. I've added a filter to skip any directory or file that starts with .

[2015-09-09 18:10] #48 closed

[2015-09-10 00:42] the0neWhoKnocks commented on #48
Cool, thanks for the quick turn around.

[2015-09-14 18:52] the0neWhoKnocks commented on #48
Finally had a chance this weekend to update the script, works like a charm, thanks again.

[2015-09-22 08:38] blc29seb opened #49 "add_not_found doesn't work with -mame cmd"
Hi
the argument add_not_found doesn't work when i used the -mame argument

Thanks for your scraper
Good job

[2015-09-22 10:32] locvez opened #50 "-mame extension not fully compatible with merged sets"
It appears that the scraper, when operating in mame mode, is not compatible with the "MAME 0.165 ROMs (T7Z-Merged)" set from the Pleasuredome tracker. I get a lot of "rom not found" errors. It previously worked fine with the "MAME 0.164 ROMs (Torrentzipped-split)" but I cleared out my split collection to use the merged collection purely because it saves about 20gb of space.

Is there anything I ca

[2015-09-23 08:50] #50 closed

[2015-09-23 08:50] locvez commented on #50
Need to check with non-merged sets before raising this as an issue I suppose..

[2015-09-23 14:47] #44 closed

[2015-09-23 14:47] #49 closed

[2015-09-23 14:56] locvez commented on #44
Thanks for this! You rock!

[2015-09-24 23:09] sselph commented on #50
The mame does have issues right now it just looks at mamedb.com which is at 0.147 so could be that there are several things no in the DB or merging changes the names to something not in the DB.

[2015-09-27 11:10] blc29seb commented on #49
thx for the fix
but now the message game not found not appear
all games are seen as found

[2015-09-27 19:57] sselph commented on #49
Thanks, Guess I broke this a while back. Added an informational message saying that the game wasn't found.

[2015-09-30 21:01] robertybob commented on #34
@karl0ss Hey. Did you ever do this?

[2015-09-30 21:09] robertybob opened #51 "Sega CD / Mega CD Support"
Hey, I've just upgraded to a Pi 2 so am taking advantage of systems which I couldn't play before.

The hashes for these games are on redump.org so should be straightforward to set up? I'll provide as much assistance as I can :) Shouldn't take too long compared to PSX I imagine (far fewer games!)

I've just noticed that there are some games missing from redump.org however I'll help filling the gaps

[2015-10-09 14:54] sselph commented on #51
Hi @robertybob,

I apologize for not responding sooner. I can set up a shared sheet if you like but yeah should be straightforward if the hashes are in a DB like redump. I'll see if I can't get something together tonight.

[2015-10-09 15:18] robertybob commented on #51
Brilliant! Give me a shout when it's set up :)

[2015-10-10 03:00] sselph commented on #51
I shared a sheet with you. I think I have most of the things in redump matched but but there are several games in thegamesdb that aren't in redump. Most seem to be video or interactive movie type games. redump is all bin/cue so if you happen to have iso or other formats let me know and we can get the sha1 of them to incorporate.

[2015-10-11 20:56] robertybob commented on #51
Brilliant. I have .bin and .cue too. I haven't had a chance to look at it this weekend , so apologies for that. I normally work on this kinda stuff during my lunch break at work , so I'll do so tomorrow :)

Have you updated the Reporter tool lately? Would you be able to email it to me as I think I left my only copy on a USB stick I recently corrupted.

[2015-10-11 20:58] robertybob commented on #34
I have no idea what stage this got to, nor do I know how good emulation is on the Pi now and the foreseeable future, but I'm happy to assist.

[2015-10-12 11:25] robertybob commented on #51
Right, looked through the list now and know what I need to do.
Going forward, Thegamesdb.net's forums are back up and running now and I may ask about the possibility of splitting the Sega CD and Mega CD (like they've done so with the Megadrive and Genesis). If this happens, will a new list need to be created?

[2015-10-12 14:21] sselph commented on #34
I added DC support. I was waiting to see if I could get the other format hashes instead of just gdi but I can close this.

[2015-10-12 14:21] #34 closed

[2015-10-12 14:22] sselph commented on #51
Probably but it wasn't too hard to create to begin with.

[2015-10-12 22:58] robertybob commented on #51
Ah ok, I'll let you know if and when that happens :)
I've updated the spreadsheet as much as I can - can this now be implemented?

[2015-10-12 23:17] robertybob commented on #35
Could you share the spreadsheet with me so I can help with this? I get a lot of enjoyment out of adding new games to thegamesdb.net :+1:

[2015-10-13 01:38] sselph commented on #51
Thanks, I've updated the hash information. I haven't forgotten that I owe you a better tool for hashing. I haven't updated it since the original so will be good to do that.

[2015-10-13 01:45] sselph commented on #35
This has been delayed because I have been lazy. We had everything for the more raw tape format but there are other formats which I have the hashes for but was looking more in to the formats when I got distracted and haven't gotten back to it. I'll try and make some time to figure out where I left off.

[2015-10-13 09:25] robertybob commented on #35
Ah ok, I can add the games missing from TGDB in that case for when the hashes are sorted :)

[2015-10-14 20:24] robertybob commented on #51
I've just run the scraper for the first time and sadly I must have a abnormal rom-set as only 34 hashes out of 154 could be found.
https://www.dropbox.com/s/3p760ueci6bupom/missing.csv?dl=0

Also, in some cases it created entries in the gamelist.xml for both .bin and .cue of a game. e.g. Flink.bin and Flink.cue. See:
https://www.dropbox.com/s/i195z08x93v8pzz/gamelist.xml?dl=0
Is this supposed to h

[2015-10-14 20:48] sselph commented on #51
No that isn't supposed to happen. I'll take a look tonight.

[2015-10-16 14:08] adrianmoisey commented on #20
Do you take unlicensed games?
`6cf18228cfb66d48b3642069979d4a5103cb8528,26500,7,Somari`

[2015-10-16 14:22] robertybob commented on #20
This scraper uses data from thegamesdb.net - if a game is on that site then this scraper should pick it up.

I should note, however, that unlicensed games and hacks are frowned upon on TGDB.net ..if you add that game it may well be deleted.

[2015-10-16 14:26] adrianmoisey commented on #20
The game I added already has an entry on thegamesdb: http://thegamesdb.net/game/26500

It looks like quite a few Unlicensed games already exist in the csv:
[code]

I didn't add, someone else added it.

[2015-10-17 00:51] sselph commented on #20
I don't care is it is unlicensed but since the system is NES the hash from just the regular shasum probably isn't correct. Do you mind using a version I just created that uses the same hashing algorithms that the scraper uses?

https://storage.googleapis.com/stevenselph.appspot.com/shasum_linux_386.zip
https://storage.googleapis.com/stevenselph.appspot.com/shasum_rpi.zip
https://storage.googleapis

[2015-10-17 01:13] sselph commented on #51
The bin/cue both being added could happen if the bin file was renamed. If you open the .cue file in a text editor you will notice it is readable and essentially lists the bin files. If you renamed them the cue would no longer point at the bin which is how I how I was linking the 2.

I'll take a look at the missing

[2015-10-17 08:30] adrianmoisey commented on #20
Ah, I didn't realise that you used your own hash. Sorry about that.
How's this:
`bb618e17cd21eaa0185de3a3bf0028dcbba6a0c3,26500,7,Somari (Unl)`

[2015-10-17 13:59] sselph commented on #20
Thanks, I've added it. I use a sha1 hash but I parse the header of .nes files to find the rom data.

[2015-10-18 15:07] adrianmoisey commented on #20
Three more:
[code]

[2015-10-20 21:14] robertybob commented on #51
@sselph Ah yes you're correct - the .cue files were pointing to .BIN rather than .bin. Let me know when you've updated the hashes :)

[2015-10-28 22:38] robertybob opened #52 "PSP Support"
As the title says :) Perhaps we could work on this once then Sega CD issue has been closed?

[2015-10-30 21:15] robertybob commented on #52
Just realised there's nothing on redump.org for PSP (which surprised me!)

[2015-11-01 13:42] sselph commented on #20
Sorry for the delay, done.

[2015-11-01 14:40] sselph commented on #51
Added your missing list and also removed 20k duplicate lines from the hash.csv.

[2015-11-01 22:37] robertybob commented on #51
Many thanks :) My Pi's power supply has died so I can't test this, but I'll still close this.

[2015-11-05 12:01] robertybob commented on #52
Hi @sselph , discovered there are CRC32 and MD5 hashes on the nointro website, would it be possible to add PSP support? Or would you rather wait until PSP is available to the general public on the Redump website?

[2015-11-05 13:52] robertybob commented on #51
I've just scraped again and this time only 37 weren't found (out of 154).
I ran the reporter and for some reason it's not finding the many hashes for the .bin files at all (yet when these games are scraped the scraper.exe finds the details using the .cue files, so I'm a bit confused).
I'm not sure how best to send you the hashes of the games that weren't scraped, when the hashes generated by the r

[2015-11-13 10:56] Haris1977 opened #53 "Add FBA support??"
As the title says :)

[2015-11-15 05:57] HerbFargus commented on #37
I added all the living books series to thegamesdb and updated the spreadsheet- along with a few more humongous entertainment games.

[2015-11-16 13:12] sselph commented on #53
I think this might work with the -mame flag. I'm ignorant when it comes to those platforms and probably should've used -arcade for the flag name. If it is working, I can update the README and maybe rename the flag.

[2015-11-16 13:29] objectchris commented on #53
I can confirm it works with the -mame flag. i think the fba romsets are a subset of mame, so it's probably the same hashes.

[2015-11-16 14:12] sselph commented on #37
Thanks. I've added these in.

[2015-11-16 14:26] sselph commented on #53
I updated the README but left the flag name alone for compatibility/simplicity reasons.

[2015-11-16 14:26] #53 closed

[2015-11-16 16:39] robertybob commented on #51
Hey. DId my previous post make sense? Let me know if you need clarification :)

[2015-11-16 23:06] robertybob opened #54 "Error when scraping certain Sega CD games [screenshot attached]"
Hi @sselph , I was trying to figure out why when I scraped Sega Cd games it wasn't generating a gamelist.xml.

I decided to scrape my last few games and caught it doing this:
https://db.tt/Inm7ONCx

Is this an error with your scraper or is it that I've got a dodgy rip somewhere?

[2015-11-18 10:39] Haris1977 opened #55 "Turbografx specific roms error when scrapping"
I got errors (hash not found) when scrapping these games (pcengine-turbografx):

Gradius (J)
Lode Runner - Lost Labyrinth (J)
P-47 - The Freedom Fighter (J)
Shinobi (J)
Soldier Blade Special - Caravan Stage (J)
Violent Soldier (J)
W Ring - The Double Rings (J)

Is there any way to tell the system to scrape specific local images for these roms? Any help?

I use

cd ~/RetroPie/roms/pcengine
scraper

[2015-11-20 12:08] israelperez opened #56 "Add option to output file with skipped(missing) roms -no data and or missing image"
Thanks for all your efforts sselph
I was wondering if you could add this so that its easier to manage roms that where skipped or that have missing images.

that way a user can manually edit the meta data

[2015-11-20 15:03] Haris1977 commented on #56
+1 for this (i have many fba/mame/pc engine roms with thumbnail missing)

[2015-11-21 02:18] AlexHolly commented on #20
snes
http://pastebin.com/dWjyD0NT

[2015-11-21 08:29] robertybob commented on #20
@Alexholly Out of interest, are these games on thegamesdb.net?

[2015-11-21 12:51] AlexHolly commented on #20
Yes the id's are from thegamesdb.net
Is there something wrong?

[2015-11-21 15:00] Haris1977 commented on #55
Well, I used the retropie in-game scrapper to scrape those 7 files with success:)

[2015-11-21 22:01] Tyrsus666 opened #57 "change directory"
sorry for my bad English.
i am using an rpi2 with retropie your scraper always tells me that it could not find any rom directory.

[2015-11-22 13:07] Haris1977 commented on #57
Is cd ~/RetroPie/roms/ working?

[2015-11-24 18:55] Tyrsus666 commented on #57
I will give it a try tomorrow

[2015-11-24 19:10] Tyrsus666 commented on #57
no
the scraper searches in /root/RetroPie/roms/ but the RPI2 path is /home/pi/RetroPie/roms

[2015-11-25 13:25] Haris1977 commented on #57
Redownload retropie (latest version) from here: http://blog.petrockblock.com/retropie/retropie-downloads/

Then ssh to your pi and download the scrapper by:

wget https://github.com/sselph/scraper/releases/download/v1.0.4/scraper_rpi2.zip

sudo unzip scraper_rpi2.zip scraper -d /usr/local/bin/

Then (e.g for scrapping MAME folder):

cd ~/RetroPie/roms/mame-mame4all

scraper -mame

[2015-12-04 14:56] dcteal opened #58 "Feature Request - scrap Intellivision games (.int)"

[2015-12-12 21:57] arcooke opened #59 "6 hours scraping >2000 games .. nothing actually showing in ES"
I'm at a bit of a loss here.  I followed the instructions on the main github page and ran `./scraper` from the roms folder.  It went through the long process of scraping all my 2000+ games and it took about 6 hours.  I finally loaded back into ES, and images/info isn't showing up on my games.

I have a giant `gamelist.xml` file in `~/RetroPie/roms/` .. and thousands of images in `~/RetroPie/roms/i

[2015-12-13 19:33] Tyrsus666 commented on #57
This works for me. Thank you.
But now i've got a new problem. Every game gives a hash not found error.
Could you help me out?

[2015-12-14 13:16] Haris1977 commented on #57
Maybe you do not have the appropriate rom collection?

[2015-12-14 14:57] sselph commented on #59
Sounds like you ran the script from ~/RetroPie/roms/ so it scraped every system and made one large gamelist.xml file. You can do scraper -scrape_all to do the same thing but it will place the gamelists and images in each emulator's folder. The alternative is to cd to the system you want to scrape and run the scraper from that directory.

[2015-12-14 15:40] sselph commented on #55
Hi. Sorry for the delayed response. You can use -add_not_found to have it add them to the gamelist file with no information and it will add an image if there is one already there with the name it expects. Or you can do like you did and use the builtin scraper with the option to only scrape things without images.

[2015-12-14 15:40] #55 closed

[2015-12-14 15:42] sselph commented on #52
Sorry for the delayed response. If there is a sha1 that would be preferred since I use that for all the other systems but if those don't exist I could use md5 and add some custom logic to use that for PSP.

[2015-12-14 15:45] sselph commented on #51
That reporter is old and I need to make a new copy. You could try the shasum I mentioned in #20 but that would hash all the games not just the ones that are missing.

[2015-12-15 12:14] #56 closed

[2015-12-15 12:26] sselph commented on #56
I added the -missing option where you specify a file and it will output the file name, error, hash and an extra message that is if the game is missing or that there isn't a gdb ID, etc.

[2015-12-15 12:33] sselph commented on #51
I also just added a feature to pass the -missing flag with a filename and it will write all the missing ROM information to that file. filename, error, hash, and an extra note like missing image, or that the hash is known but there wasn't a GDB ID.

[2015-12-15 13:20] robertybob commented on #51
Thanks! I normally scrape on my laptop but I'll attempt this on my Pi soon :)

[2015-12-22 22:48] #54 closed

[2015-12-22 22:49] robertybob commented on #51
Hi @sselph sorry for the delay. Ran your scraper from my Pi for the first time ! Used the missing image flag and got the following:
https://www.dropbox.com/s/qp4qmc4wspm4sdh/file?dl=0

Are you able to add these hashes to your database?

[2016-01-05 00:07] partyguy2016 opened #60 "subfolder"
hello,

i'm having trouble using the scraper in subfolders.  For instance nes/romset/A-C. I ran the scraper in the A-C folder, it generated an image folder and a .xml file but the information isn't showing up on the retropie screen after reboot. Please let me know if there is a way to make this work.  Thanks

[2016-01-07 06:30] sselph commented on #60
I'm sorry. I meant to respond earlier but my laptop was hijacked a one year old.

ES expects a single gamelist xml for the system, Since you are running scraper in each sub folder you are creating multiple gamelists. If you run the scraper in the parent folder it supposedly works. All roms I've tested have been in one folder but others have run this with subfolders and have said it works.

[2016-01-07 09:53] robertybob commented on #52
Is it posible to use the -missing flag to generate a list of data that could help?

[2016-01-07 18:18] partyguy2016 commented on #60
Thank you. It works perfectly.

[2016-01-14 23:10] robertybob commented on #52
@Sselph just tried the 'missing file' with my
psp roms , but just got a blank file :( Ah well. When you're around next, let me know what I can do to help :)

[2016-01-18 13:18] aaronbond commented on #59
i'm half way through a scrape, if i scrape all will it mean re downloading everything i've already done?

[2016-01-18 14:06] sselph commented on #59
If you press ctrl+c once it will say it is stopping then stop gracefully. If you add the -append flag it willl skip any file already in the gamelist.xml and even without the -append flag it won't re-download images which is the thing that typically takes the most time.

As for integrating in to ES I did that with:
https://github.com/Aloshi/EmulationStation/pull/355

It is only in the unstable bran

[2016-01-18 14:25] aaronbond commented on #59
ah excellent, again great work on this.

[2016-01-19 09:40] robertybob commented on #51
@sselph ? :)

[2016-01-19 13:42] sselph commented on #51
Sorry most my free time has been spent playing fallout. I'll try to get to these tonight.

[2016-01-19 15:21] sselph commented on #52
What is the file extension for them? If it is a different extension than one of the recognized systems you may have to use -extra_ext ".psp" or whatever it is.

[2016-01-20 01:21] sselph commented on #51
Added these. Let me know if that works.

[2016-01-20 01:21] #60 closed

[2016-01-20 01:22] #59 closed

[2016-01-20 11:48] robertybob commented on #51
Many thanks, I'll have a go at scraping again tonight :)

[2016-01-20 11:52] robertybob commented on #52
Cheers, I think they were .iso files, but I'll double check.

[2016-01-20 21:50] robertybob commented on #51
Because it takes a while to scrape all the games, I've done the first few from that list and they scrape fine, so presuming they all do. Thank you for doing this :)

[2016-01-20 21:50] #51 closed

[2016-01-20 22:08] robertybob commented on #52
Your suggestion worked :+1:  https://www.dropbox.com/s/gvyjm4qml6epsl6/file.txt?dl=0 I only have a handful of games because I wasn't sure how well they'd work on the Pi, but it's a start :)

[2016-01-26 22:01] substring opened #61 "Improve RAM management"
On Pi2 with1000+ roms systems, the scraper crashes due to a lack of memory.
Using 4 workers

[2016-01-28 20:41] edulemasson opened #62 "Set image/description resource server alternative to thegames.db"
The GamesDB is down!
So we can use different ones servers like http://archive.vg/

[2016-01-29 01:44] sselph commented on #62
The database I created is a list of hashes to the ID in thegamesdb so adding a different source is non-trivial. I used to host a cache of thegamesdb but they have improved the stability so took it down. If the reliability starts being an issue I can work on reimplementing my cache.

I did add the ovgdb which you can use with -use_ovgdb=true This had its own mapping of hash to rom data but it proba

[2016-01-29 01:44] #62 closed

[2016-01-29 01:49] sselph commented on #61
hmm I've done a bunch to make sure the scraper is fairly efficient but the only place it may eat a lot of memory is that is doesn't write the XML until it is finished which means it would hold the entire thing in memory. That shouldn't use 1GB of memory so maybe there is a leak somewhere.

To make sure I understand before running some profiling, you are scraping a system with 1000+ roms in it with

[2016-01-29 03:26] sselph commented on #61
Actually if you can reproduce this it would be helpful to run the script with the flag -start_pprof

Then after it is getting to the point where it is starting to leak memory go to this URL in the browser. You can replace localhost with the IP of the raspberry pi if you don't have a GUI and browser on your pi.
http://localhost:8080/debug/pprof/heap?debug=1

This will give you a page with the heap

[2016-01-29 15:59] j08rebelo opened #63 "Boot time"
After using the scraper for a few thousand roms (NES, SNES, Megadrive, GB, N64...) i notice EmulationStation takes a huge amount of time to boot. Without the thumbnails and description it usually took a few seconds, now it goes for about 5 minutes.

Is there a way to make it faster?

[2016-01-29 17:13] sselph commented on #63
I've heard that using different themes can help with some crashing issues so you can try that. The issue is that ES has to read and parse all the XML files. This could be causing it to take too much time. Aloshi was in the process of switching to using a DB to help fix that.

If a theme change doesn't help, I can try adding a feature to truncate extra long descriptions maybe that could reduce the

[2016-01-29 18:02] j08rebelo commented on #63
That would be a great idea. If you could work on that solution would be
fantastic.
Em 29/01/2016 17:13, "Steven Selph" <notifications@github.com> escreveu:

[2016-01-30 03:40] sselph commented on #63
I added a flag -overview_len that can be passed a number. It will limit the length of the description to that number plus an ellipsis so you can set this to something reasonable that fits on the screen so maybe it will reduce the amount of data that has to be parsed.

I don't know if it will help but thats about all I can think of that I can do from my side.

[2016-01-30 06:39] sselph commented on #61
I added a change that will only allocate a 4MB buffer per worker for reading files for hashing. Before it was allocating 4MB per file but the memory was being released then reused. I don't know if this will help with memory usage but may help performance since it doesn't have to reallocate a buffer each time.

I'll roll this out in a release soon but still looking forward to a heap if you have one

[2016-01-30 10:07] j08rebelo commented on #63
Thank you. I don't understand a lot about coding. So I need do download and
unzip the scraper again and set those parameters?
Em 30/01/2016 03:40, "Steven Selph" <notifications@github.com> escreveu:

[2016-02-01 01:17] dcteal opened #64 "Running scraper from retropie-setup"
I have a few questions in regards to running the scraper from the retropie-setup / experimental packages menu.

1 - how do you killall emulationstation processes without killing the session you're in to run the scraper?  As soon as I issue the 'kickall emulationstation' from an ssh session it kills my session in the retorpie-setup

2 - Is there anyway to setup switches before scraping?  (i.e. -thu

[2016-02-01 02:10] sselph commented on #64
1. I haven't ever used it from the retropie menu but don't see why killing emulationstation would kill the setup program. Maybe if it was being run from inside of ES. If you are really concerned, you can exit ES then press a key to keep it from rebooting then run the setup script outside of ES.

2. No, They have preset some of the flags. If you want to do something different you'll have to run the

[2016-02-01 02:11] sselph commented on #63
yeah

[2016-02-02 00:55] #63 closed

[2016-02-02 23:12] Robakero opened #65 "403 Forbidden Response"
I have used your excellent scraper for months - thank you.  I have now upgraded to the latest retropie and installed the scraper as per the instructions and all went well as it normally does.  This is a fresh install on a clean retropie 3.4 image for raspberry pi2.  When I run the scraper, I get:

403 Forbidden response
panic: runtime error: invalid memory address or nil pointer dereference

Follo

[2016-02-02 23:51] sselph commented on #65
Okay the panic is me not properly handling the 403 error that is returned. I'll clean that up. The 403 is odd I have the ACL on those files set to public and I just tried it and it worked. Can you see if it is working now?

[2016-02-03 00:04] sselph commented on #65
NM I was able to reproduce this. I have run out of free quota for serving the files

[2016-02-03 00:36] sselph commented on #65
Found the issue. I disabled a feature that I had a long time ago where I was caching the thegamesdb and people could use it as a source of data. I guess I forgot to disable the endpoints on my server and someone is using a very old build or something started crawling the site and found it. So it ate up all my quota.

In 8h the quota should reset. I apologize for the inconvenience.

[2016-02-03 01:41] moreirawebmaster commented on #65
just run the scraper -thumb_only command and returned me the message got 403 Forbidden response, any idea what is happening and may the day of correction?

[2016-02-03 05:21] sselph commented on #65
As I mentioned previously, someone used up all my quota on my Google account and in 3h the quota will reset and everything will start working again. I have deleted all the files and removed the urls that were used so this shouldn't happen again.

[2016-02-03 14:31] #65 closed

[2016-02-03 15:04] substring commented on #61
Hey !
I haven't forgotten you. But been quite busy lately and I haven't had time yet to get you the proper information. But it's still in my scope since several people faced that case

[2016-02-03 18:16] Robakero commented on #65
Thank you for your help with this, great.  Its working perfectly.

[2016-02-04 14:03] #64 closed

[2016-02-04 21:54] substring commented on #61
got "bad news" : I can't connect to the URL you gave me. I'm not on a raspbian or such distro, i'm on recalbox which is built from scratch. Running 1.0.8

My command line : `/tmp/scraper -no_thumb=true -max_width=375 -rom_dir=/recalbox/share/roms/snes -output_file=/root/.emulationstation/gamelists/snes/gamelist.xml -workers=4 -image_dir=/root/.emulationstation/downloaded_images/snes -image_path=/r

[2016-02-04 22:37] sselph commented on #61
Odd so you couldn't connect to this address from another machine?
http://<ip of pi2>:8080/debug/pprof/heap

The other option would be to ssh in from a second terminal and run:
$ wget http://localhost:8080/debug/pprof/heap
That would create a file named heap in the folder where you ran it.

I don't have any of the rom sets but I'll try generating a large set of files with random data on the order o

[2016-02-04 22:45] substring commented on #61
Your first URL was different and didn't work. Now I could get the result : http://pastebin.com/Ss86ivEr

[2016-02-05 00:56] sselph commented on #61
Thanks! Seems to be something with the image processing. I'll do some more investigating and see if I'm using that library incorrectly.

[2016-02-05 02:40] sselph commented on #61
Okay after taking a look there isn't any issue with the code. The memory is being allocate to process the jpeg and processing 4 full size images at a time is taking too much memory. I ran this on my desktop and the memory footprint seems to top out around ~500MB with 4 threads(avg ~125MB per thread). To help I added a new flag (I know I already have too many flags) it is -img_workers. This flag li

[2016-02-05 11:50] substring commented on #61
Testing 1.0.9 at the moment
Perfs are divided by 10, if not more, when running with a single image worker. The scraper is unusable in such configuration.
Then i'm really curious about memory management, whether it's the scraper itself or the image management part. I don't have swap on the recalbox system. But I notice that the scraper eats up absolutely all the RAM available. What can take so much

[2016-02-05 12:41] sselph commented on #61
A high quality jpeg can be compressed ~15:1(lower qualities even higher) over the raw image so when it is decompressed the 10MB file takes up 150MB. There might be more memory efficient ways to resize jpeg but this method works on all image types supported by the Go language with a few lines of code. This is why I have the recommendation of using -thumb_only when running on the raspberry pi. It do

[2016-02-05 17:54] darknessgp commented on #13
I'd love to see a way to create my own hash file in some way to map a specific hash to a thegamesdb ID. I can get the hash out of your scraper via the missing flag, but what do I do then? I can manually lookup the game, but no way to tell the scraper to match this hash with that id.

[2016-02-05 19:52] sselph commented on #13
You can create a csv similar to `~/.sselph-scraper/hash.csv` you just care about the column with the hash and the column with the ID(first and second), then append your csv to mine with `cat ~/.sselph-scraper/hash.csv ~/mv.csv > ~/merged.csv` then use `scraper -hash_file ~/merged.csv`

Or if my scraper isn't scraping anything for that system you can skip merging and use your own file directly. `sc

[2016-02-05 22:12] substring commented on #61
Considering the scraper doesn't crash anymore on big roms list, i guess the solution brought with https://github.com/sselph/scraper/releases/tag/v1.0.9 is the best one

[2016-02-05 22:12] #61 closed

[2016-02-09 06:47] MisterTea opened #66 "scraper fails if rom dir is a symbolic link"
I have all of my rom dirs as symbolic links.  filepath.Walk(...) does not follow symbolic links as per https://golang.org/pkg/path/filepath/#Walk

To fix, add this line as the first line of Scrape(...):

[code]

[2016-02-10 02:21] sselph commented on #66
Thanks. I've made the change.

[2016-02-10 02:23] MisterTea commented on #66
Thanks!!!

[2016-02-10 02:23] #66 closed

[2016-02-10 02:37] #57 closed

[2016-02-10 16:18] Seviks opened #67 "Certificate has expired"
When using the scraper from retropie experimental menu I get several of the following warnings:

19:31:15 INFO: Checking for new hash.csv.
Get https://storage.googleapis.com/stevenselph.appspot.com/hash.csv.gz: x509: certificate has expired or is not yet valid

No rom gets scraped.

Is this a problem of this scraper script, the implementation in retropie or is there an error in my configuration?

[2016-02-10 16:19] Seviks commented on #67
When using the scraper from retropie experimental menu I get several of the following warnings:

2015/11/22 19:31:15 INFO: Checking for new hash.csv.
Get https://storage.googleapis.com/stevenselph.appspot.com/hash.csv.gz: x509: certificate has expired or is not yet valid

No rom gets scraped.

Is this a problem of the scraper, the retropie implementation or is there an error in my configuration?

[2016-02-10 19:11] Seviks commented on #67
I found the error (as expected on my fault):
The time/date was not set properly.

Can be closed/deleted. Sorry for opening an issue for this...

[2016-02-10 19:11] #67 closed

[2016-02-12 00:42] robertybob commented on #20
Hi @sselph :) Got some missing PSX games:
https://www.dropbox.com/s/26h9to2ag862l5z/missing%20psx.xml?dl=0

FIFA Football 2003 (E) : TGDB ID = 23566
FIFA Football 2004 (Europe) : TGDB ID = 11705
PaRappa the Rapper - The Hip Hop Hero (E) : TGDB ID = 7792

[2016-02-13 18:08] dcteal opened #68 "error - command not found when I run - scraper from rom directory"
Not sure what I'm doing wrong.

Downloaded - scraper_rpi2.zip to my PC, unzipped the file and used WinSCP to transfer the file 'scraper' to my roms directory (i.e. ~/RetroPie/roms/atari2600).

Then from the command line, I enter - pi@retropie:~/RetroPie/roms/atari2600 $ scraper -thumb_only and I get an error '-bash: scraper: command not found'

What am I missing?

[2016-02-13 20:07] robertybob commented on #68
Are you using the Terminal within WinSCP or using Putty? If Putty then for me I type:

cd/ROM DIRECTORY

Followed by:

scraper -thumb_only

I don't bother with the $ and I do the two commands separately so I know I'm running it in the correct directory.

[2016-02-13 21:35] sselph commented on #68
If you want to run from a directory that is not in the path like the rom directory you have to give the full path. So that looks like:
`./scraper -thumb_only`

[2016-02-15 00:27] dcteal commented on #68
Using ./scraper -thumb_only worked great!  Thanks.

[2016-02-17 08:39] joolswills opened #69 "no version number when building from git HEAD"
the -version parameter seems to return nothing when building from git - I am just switching the scraper module in retropie to build from source on jessie+ so it also works on x86. for now I will display "unknown" as the version, but perhaps it could include a v1.5-dev or git revision or something?

[2016-02-17 08:43] joolswills commented on #69
It might be better if I make it only build from stable releases - will look into that

[2016-02-17 08:52] joolswills commented on #69
"go get" doesn't seem to allow me to get a specific tag - is there a way to build from a git clone or would that not handle go dependencies etc ?

[2016-02-17 11:18] sselph commented on #69
The version variable is set from the build command. My release process is to run a script where I pass the next version number and it creates the tag, cross compiles all the different versions, and uploads them. You can set this variable with `go build -ldflags "-X main.versionStr=my_version" github.com/sselph/scraper` If it will help, I can display a known string when the binary wasn't build with

[2016-02-17 11:24] joolswills commented on #69
thanks - if HEAD is going to be stable, I'm happy to leave it as is - I currently display v(Git) for version, but I could look at using the last tag+commit revision or so. Thanks for the info. I will close this.

[2016-02-17 11:24] #69 closed

[2016-02-19 02:24] #68 closed

[2016-02-22 20:48] avedianj opened #70 "Certificate problem"
I followed all install steps but when I run scraper for one single or all rom directories i get this:
INFO: Checking for new MAME history.
Get https://storage.googleapis.com/stevenselph.appspot.com/hash.csv.gz: x509: certificate signed by unknown authority

[2016-02-24 15:29] sselph commented on #70
Hmm it would be odd to get that error. The server and certificate would be Google so those should be known. Is this problem persisting? are you in an odd environment like a corporate network that might be proxying SSL traffic? Is the date set correctly on the device you are using?

[2016-02-24 16:04] avedianj commented on #70
I'm just on a normal home network. Problem is persisting. Date/time are
correct.
On Feb 24, 2016 10:29 AM, "Steven Selph" <notifications@github.com> wrote:

[2016-02-24 18:28] sselph commented on #70
A couple more questions. What OS is the scraper being run on? If it is linux/mac can you try running `openssl s_client -connect storage.googleapis.com:443` to get the cert chain. It should look like
[code]
You can also try downloading the file using a browser or wget https://storage.googleapis.com/stevenselph.appspot.com/hash.csv.gz

[2016-02-24 21:44] avedianj commented on #70
Retropie on raspberry pi. I figured it out and am embarrassed I didn't
figure this out before. I have my home network setup with parental
controls. I never turned them off for the rpi's IP. That's what caused the
issue. Now thegamesdb is down so it still isn't scraping but i think we
solved the main issue here. Thanks for your patience and of course for your
efforts in providing this feature to us

[2016-02-24 22:53] sselph commented on #70
Glad you figured it out.

[2016-02-24 22:53] #70 closed

[2016-03-13 19:53] nerdythor opened #71 "Weird issue on a specific iso ROM"
So my PSX roms for the most part are .bin files but two of them are .iso. They play fine, but scraper completely overlooks them. I even manually added their hash to the .csv and while that worked for a few games these ones just do not get scanned. Is there plan to support .iso or is this something else?

[2016-03-13 23:48] sselph commented on #71
Yeah as you noticed iso isn't a supported format on any system so it ignores it if you've added the hash to the csv you can do -extra_ext=".iso" to force it to look at them.

[2016-03-14 04:39] psadier opened #72 "Support for Colecovision"
Please add support for ColecoVision roms

Thanks,

[2016-03-15 02:17] nerdythor commented on #71
Sorry sselph... I should've said .img it looks like. Would the same -extra_ext=".img" work or is it unneccessary?

[2016-03-15 12:56] sselph commented on #71
yeah if there is any extension that the scraper is skipping that you want to force it to look at you can use `-extra_ext=".iso"` and can even pass more than one `-extra_ext=".iso,.img"`

[2016-03-15 13:00] sselph opened #74 "Fix build breaking after snappy added ASM dependency"
continuous integration is breaking need to figure out if the actual build is broken and do I need to add extra instructions for building or possibly remove the dependency.

[2016-03-16 22:28] sselph commented on #74
Turns out it is an assembly dependency for 64bit linux and the missing file is due to using a go version prior to 1.4. I may have to move the requirement to using a more recent version of Go.

[2016-03-25 13:21] sselph commented on #20
@robertybob @AlexHolly
Wow I'm extremely sorry this took so long. I must have have read the email on my phone then forgot to actually log in later to work on this. The hashes have been added.

[2016-03-25 13:24] #71 closed

[2016-03-25 18:58] robertybob commented on #20
@sselph no worries! hope you didn't mind me starting the wiki by the way :)

[2016-03-26 01:16] MetalManTN commented on #20
Here are some missing Lynx games. This is my first contribution, so I apologize if it isn't correct: https://www.dropbox.com/s/h4o7ge2gifmtl10/file?dl=0

[2016-03-26 04:21] sselph commented on #20
Thanks @MetalManTN I prefer it is you do all the work for me :) and open the file up as a csv in your favorite spreadsheet program and add a column for each game and give me thegamesdb ID. I went ahead and looked these up and seems like someone has added them to thegamesdb so they are all there now.

[2016-03-26 04:22] sselph commented on #20
@robertybob I noticed that. Thanks!

[2016-03-26 16:22] MetalManTN commented on #20
@sselph My apologies. I would prefer that I do all the work for you too (I am well aware that you are incredibly busy with all the requests), I just didn't realize I needed to do anything with that output file before posting it. Any and all future contributions from me will be in the correct format with IDs. Thank you for all that you've done for us. I love the scraper.

[2016-03-27 14:51] Jcw87 commented on #20
Got one for NES

f663d004bea0fe0518fb8b2e3a9070e1ef1d39f4,27281,7,Space Invaders (Japan)

[2016-03-27 15:36] Jcw87 commented on #20
This one is already in the list, but it has the wrong game ID

ce7580059e8b41cb4a1e734c9b35ce3774bf777a,9245,22,Combat - Tank-Plus

It should be 4887

[2016-04-16 23:46] mbribeiro opened #75 "Can I run with only text files ?"
I am building a [Docker](https://www.docker.com/) container to scrap descriptions and images and I would like to feed scraper not with a directory containing roms but with a text file with the same information it needs to scrap a rom.

Does anyone know if I can do this right now this scraper ?
I would be great if I simply build a gamelist and send to a scraper server.

Thanks in advance.

[2016-04-18 01:26] sselph commented on #75
Nothing like that can be done with the current code as is. The script uses the file's hash and the file name to do the look up and generate the gamelist. So it would be possibly to use something like the [shasum](https://github.com/sselph/scraper/blob/master/shasum/shasum.go) tool I wrote and have the server use that to generate the gamelist and get the images to the client.

You could also do som

[2016-04-18 01:37] sselph commented on #20
@Jcw87 sorry for the delay but I made the changes. Also sorry about the messed up Combat match. I must have had a bad copy/paste or something.

[2016-04-18 07:02] stevetb opened #76 "Hash Generation Command for Scraper"
Running RetroPie 3.7, I am unable to run the below command.  Is there a more updated command which we can use for RetroPie 3.7 to generate a list for our un-scraped roms to submit for entry?

This command was from Wiki and appears to be outdated:
[code]

[2016-04-18 07:16] HerbFargus commented on #76
Its  likely because its not installed in the rom folder or universally so you'd have to call it from its main folder. ie.:

[code]

[2016-04-18 07:47] stevetb commented on #76
It worked!  Well.............kinda.  I received this lovely message:

"It appears that thegamesdb.net isn't up.  If you are sure it is use -skip_check to bypass this error."

Now if I had $1 for everytime TheGamesDB went down, I'd be rich!

[2016-04-19 02:17] sselph commented on #76
Thanks @HerbFargus I was wondering where retropie was placing the binary.

[2016-04-19 02:17] #76 closed

[2016-04-19 02:17] #75 closed

[2016-04-20 04:52] stevetb commented on #20
This is my first submission for Hash to TheGamesDB for your scraper.  Please let me know if I need to change my CSV in any way to make it work better for you.  Here are all the N64 hashes and their associated TGDB ID's:

https://drive.google.com/file/d/0B5sVya9PPKYmbTZNQm9ZS0syc0k/view?usp=sharing

[2016-04-20 05:14] stevetb commented on #20
Here is a CSV I made for all NES Hashes which are not currently in the scraper:

https://drive.google.com/open?id=0B5sVya9PPKYmMmJodl9FQXRGSTg

[2016-04-20 05:54] stevetb commented on #20
Here is a CSV I made for all SNES Hashes which are not currently in the scraper:

https://drive.google.com/open?id=0B5sVya9PPKYmTlBSOFFuQ2duN1k

[2016-04-20 06:24] stevetb commented on #20
Here is a CSV I made for all Sega Master System Hashes which are not currently in the scraper:

https://drive.google.com/open?id=0B5sVya9PPKYmb2djNmRFRy1hdGc

[2016-04-20 06:46] stevetb commented on #20
Here is a CSV I made for all Sega Game Gear Hashes which are not currently in the scraper:

https://drive.google.com/open?id=0B5sVya9PPKYma0t1dTdURE81bFk

[2016-04-20 07:22] stevetb commented on #20
Here is a CSV I made for all Sega Genesis Hashes which are not currently in the scraper:

https://drive.google.com/open?id=0B5sVya9PPKYmVkVEUTMtNVA4Qmc

[2016-04-20 22:59] LodanZark opened #77 "Feature Request - create log"
Is it possible at some point in the future to add an option to generate a log file to list it up which games have missing images and which games haven't been identified by the database?

Thanks for make available this awesome tool ;)

[2016-04-20 23:14] sselph commented on #77
There is the `-missing file.csv` flag it will write to a csv and mention if the image is missing, if the hash is identified and missing in thegamesdb, etc.

Let me know if that works.

[2016-04-21 05:22] stevetb commented on #20
Here is a CSV I made for all Nintendo Game Boy Hashes which are not currently in the scraper:

https://drive.google.com/open?id=1TE_j4a9TcV1HNrcdvFeOtf7iNrNds71GMgtv_g5PshY

[2016-04-21 06:26] stevetb commented on #20
Here is a CSV I made for all Sega 32X Hashes which are not currently in the scraper:

https://drive.google.com/open?id=12NmsgYz1w6b4upG6vbrlztqMylSMKCWx9xA4ny5sMKs

**Note: ** Can you delete all of the other Sega 32X CD's associated under the system 33 designation?  Most of them linked to the Sega CD TGDB ID and not to the Sega 32X TGBD ID.  We also should find a way to distinguish Disc 1, Disc 2,

[2016-04-21 06:40] stevetb commented on #43
@sselph = If you setup this platform I will generate the hashes and link to TheGamesDB.

[2016-04-21 06:41] stevetb opened #78 "Add Virtual Boy Scraper Support"
@sselph = If you setup this platform I will generate the hashes and link to TheGamesDB

[2016-04-21 06:42] stevetb opened #79 "Add NeoGeo Pocket Color Scraper Support"
@sselph = If you setup this platform I will generate the hashes and link to TheGamesDB

[2016-04-21 06:42] stevetb commented on #72
@sselph = If you setup this platform I will generate the hashes and link to TheGamesDB

[2016-04-21 06:46] stevetb opened #80 "Add Sega SG-1000 Scraper Support"
@sselph = If you setup this platform I will generate the hashes and link to TheGamesDB

[2016-04-21 08:40] robertybob commented on #20
@stevetb re: Disc titles, maybe this flag is the answer?

` -use_filename`

[2016-04-21 17:27] stevetb commented on #77
@LodanZark I would suggest reading the Wiki for how to add missing files to the database:

https://github.com/sselph/scraper/wiki/Scraper-can't-find-a-game%3F

[2016-04-22 01:26] LodanZark commented on #77
Well I guess the problem I got was unable to open csv with nano over command line, I guess I will use the csvkit ;) thanks for the advice

[2016-04-22 15:38] stevetb commented on #20
@sselph I would like to start pushing a lot of the hashes to you do not exist currently.  I have put a lot on here already over this past week but would like to pay back to the community and scrape even more.  Please let me know **what the fastest method is to get these to you **so we can quickly add them to the scraper database.  This will immediately help users.  I will work on my end to do most

[2016-04-22 15:44] robertybob commented on #20
@stevetb Dreamcast is already supported (?) https://github.com/sselph/scraper/issues/34

[2016-04-22 15:57] stevetb commented on #20
@robertybob Sorry I meant, Sega SG-1000.  I have corrected above in my comment.

[2016-04-23 00:03] sselph commented on #20
@stevetb Thanks for all the hash data. I'll start taking a look at these. I need to investigate the systems you linked, ie what are the extensions and is there any special encoding, etc.

[2016-04-23 03:21] sselph commented on #20
Added in all your csv files except the 32X. I want to spend some time sorting out the 32X CD from Sega CD and it is getting late.

[2016-04-23 05:20] #77 closed

[2016-04-23 05:25] sselph commented on #80
Support has been added for the extension .sg. I added all the games in thegamesdb that I could find a match for in the no-intro set. I will leave this open for a while for any follow up hashes.

[2016-04-23 05:26] sselph commented on #79
Support has been added for the extension .ngpc. There are no hashes in the no-intro set so will add any hashes you have.

[2016-04-23 05:29] sselph commented on #78
Support has been added for the extension .vb. I added all the games in thegamesdb that I could find a match for in the no-intro set. I will leave this open for a while for any follow up hashes.

[2016-04-23 05:30] sselph commented on #58
Support has been added for the extension .int. There are no hashes for this in no-intro but @stevetb volunteered to provide some hashes.

[2016-04-23 05:31] sselph commented on #43
Support has been added for the extension .ngp. There are no hashes in no-intro so will wait for some hashes.

[2016-04-23 05:32] sselph commented on #72
Support has been added for the extension .col. I added all the games in thegamesdb that I could find a match for in the no-intro set. I will leave this open for a while for any follow up hashes.

[2016-04-23 06:30] #74 closed

[2016-04-23 06:41] sselph commented on #74
Added -tags noasm to builds and tests and mentioned this in readme

[2016-04-23 17:50] stevetb commented on #80
@sselph I will be out of town for a week.  When I return I will start the process of scraping all the roms & variations of roms I can find.  Redump will be a guide as well to ensure I capture everything.  Thank you again for your help and your excellent scraper!!!!!

[2016-04-23 17:50] stevetb commented on #79
@sselph I will be out of town for a week.  When I return I will start the process of scraping all the roms & variations of roms I can find.  Redump will be a guide as well to ensure I capture everything.  Thank you again for your help and your excellent scraper!!!!!

[2016-04-23 17:50] stevetb commented on #78
@sselph I will be out of town for a week.  When I return I will start the process of scraping all the roms & variations of roms I can find.  Redump will be a guide as well to ensure I capture everything.  Thank you again for your help and your excellent scraper!!!!!

[2016-04-23 17:51] stevetb commented on #72
@sselph I will be out of town for a week.  When I return I will start the process of scraping all the roms & variations of roms I can find.  Redump will be a guide as well to ensure I capture everything.  Thank you again for your help and your excellent scraper!!!!!

[2016-04-23 17:51] stevetb commented on #43
@sselph I will be out of town for a week.  When I return I will start the process of scraping all the roms & variations of roms I can find.  Redump will be a guide as well to ensure I capture everything.  Thank you again for your help and your excellent scraper!!!!!

[2016-04-23 17:52] stevetb commented on #20
@sselph I will be out of town for a week.  When I return I will start the process of scraping all the roms & variations of roms I can find.  Redump will be a guide as well to ensure I capture everything.  Thank you again for your help and your excellent scraper!!!!!

[2016-04-30 08:32] Redemp commented on #80
@stevetb
Thank you for taking your time to do this. What romsets are you using to add the missing hashes?
No-Intro, Tosec, Redump, Truerip?

@sselph Let me know if there is anything I can do to help with this.

[2016-05-01 00:57] sselph commented on #80
I've added every game I could see in thegamesdb that was in the no-intro set. Other than testing to see if some of the ones I matched are working, you can take a look at https://storage.googleapis.com/stevenselph.appspot.com/hash.csv.gz the games where column 3 is 4949 and column 2 is empty are ones I didn't see in thegamesdb. If you want to create entries in thegamesdb and fill that column in, th

[2016-05-05 20:31] daaa57150 opened #81 "Feature request: scrap by name"
Hi,

This scrapper really helped me a lot with my "basic" roms, but for roms with translation patches applied, this is of no use... It would be nice to have the option to use the name of the file instead of the hash.

[2016-05-06 00:49] sselph commented on #81
I have https://github.com/sselph/scraper/issues/13 where I was thinking about writing something to allow you to search for games that didn't match but never got to it. I had a prototype, but never got it cleaned up. I don't think I want to make any kind of name based auto scraping for console roms since it may be error prone.

If you need this in a timely manner, I would suggest seeing if there ar

[2016-05-06 00:49] #81 closed

[2016-05-06 08:13] daaa57150 commented on #81
I looked for other scrapers but didn't find any; so I thought about installing emulation station and using the internal one but it doesn't install on a mac...

I effectively need this in a timely manner, it's just that right now I have like 30 roms and I don't want to do it by hand :). I guess I'll program a quick and dirty scrapper myself.

Thanks for the answer.

[2016-05-09 06:28] dustloop opened #82 "Add No Intro False Option"
I love that the scraper is in the setup portion of Emulationstation/Retropie now.

Would it be possible to scrape with the use no intro false command? I already have my games organised into regional folders so I don't need to see the regions on the game titles unless I just need to do it manual for now?

[2016-05-10 02:56] sselph commented on #82
This flag exists you can use it by adding `-use_nointro_name=false`

[2016-05-10 02:58] dustloop commented on #82
How do I do that from the setup menu in the retropie setup or would I have install manually then run the script?

[2016-05-10 03:06] HerbFargus commented on #82
It's not @sselph's responsibility to maintain the RetroPie scripts. If you want something coded custom then feel free to discuss in the appropriate place on the RetroPie forum: https://retropie.org.uk/forum/

[2016-05-10 05:30] sselph commented on #82
Ah yeah sorry I misunderstood, what @HerbFargus said. You can discuss with them to have the feature added or manually invoke the script which it downloads to `/opt/retropie/supplementary/scraper/scraper`

[2016-05-10 05:30] #82 closed

[2016-05-17 23:36] stevetb commented on #20
Here is a CSV I made for all Sega SG-1000 Hashes which are not currently in the scraper:

[https://drive.google.com/open?id=0B5sVya9PPKYmeUNwX21IY1RCZ3c](url)

**Note:**  I only will be using the No-Intro Romsets

[2016-05-17 23:42] stevetb commented on #78
VirtualBoy is compete!  All hashes from No-Intro Romset correctly match to TheGamesDB.

Thank you sselph!

[2016-05-17 23:42] #78 closed

[2016-05-17 23:45] stevetb commented on #80
All No-Intro Romset titles have been added to TheGamesDB and hashes have been sent.  Please add when you can and I will verify from my end.  All TheGamesDB titles were also updated so they are consistent to my additions.

Here is my CSV, please add when you can:
https://drive.google.com/open?id=1h2ljwPz7F7_ucF8TQ5KeLeoe3nMHab_Iqj5Q1hLS0j8

-Steve

[2016-05-17 23:49] stevetb commented on #80
@Redemp at first I was using the "whatever I can find on the internet approach" which made it difficult.  I have switched to only using the No-Intro Romsets as they perfectly match what I personally am wanting with my collection.

-Steve

[2016-05-17 23:53] Redemp commented on #80
@stevetb

I do to. This must have been a massive job to pull off and I as many other's thank you for you're contributions. I'm looking forward to you're contributions to the rest of the missing no-intro sets that's missing.

Thank you!

[2016-05-18 02:20] sselph commented on #80
Thanks! I added them in and uploaded the changes.

[2016-05-18 05:41] stevetb commented on #80
@Redemp Thank you very much.  I know this is one of the systems that gets little to no love, so I thought I would put some polish onto it.

I have only recently gotten into the No-Intro Romsets so I have been a bit sidetracked with those.  But, I am now moving onto SNES and completing the .csv to give to sselph.  I should be done soon, then we can mark that off as "No-Intro" complete as well, hehe

[2016-05-18 05:45] stevetb commented on #80
@sselph dang!  You are fast!  Thank you!

I updated my scraper, ran the SG-1000, and then verified the scraper information.  Everything I can see is perfect.  There are some art changes I have submitted with TheGamesDB which have not been approved yet, but that is outside of what your script needs to do.  Once those are approved on their end I would consider this perfect to the No-Intro Romset for

[2016-05-18 05:45] #80 closed

[2016-05-18 05:48] sselph commented on #80
@stevetb Badass. Thanks for doing this work. You and @robertybob have done a true service. It is one thing to say this matches this thing already in the DB. It is another to actually fill in all the blanks and upload images, add descriptions etc.

Keep up the good work.

[2016-05-18 06:39] stevetb opened #83 "How to find hashes for specific platform?"
What would the command be to run scraper through a specific platform, in my case SNES, and have it create a list of all known hashes and then save them to a file.  Similar to what we are doing with the flag:  -missing SNES.csv

Anything similar to identify known hashes?

**Example used for -missing:**
/opt/retropie/supplementary/scraper/scraper -thumb_only -missing file.csv -workers 4

**Why do I

[2016-05-18 06:44] stevetb commented on #20
Here is a CSV I made for all SNES Hashes from the No-Intro Romset which are not currently in the scraper:

https://drive.google.com/open?id=1_CfJxrSNASApzhXwUQ2QTQBu6KgFS7ohlJCCZngiX9M

**Note:**  I could not find the hashes for the two below games.  They are incorrectly matched against TGDB

* NFL Quarterback Club (USA)
* Star Fox - Super Weekend (USA)

[2016-05-18 06:53] sselph commented on #83
That sucks. I tried not to create false positive but It is possible. There isn't a scraper command, but you can download the master csv and filter it. And send updates against it.

For snes on linux it would be something like this to get all the known hashes for snes. In the early days I didn't fill in the platform for roms that didn't have a match but I do my best to sort this all out when hashes

[2016-05-18 07:04] stevetb commented on #83
That worked!  I added the two missing hashes here:

https://drive.google.com/open?id=1bAlg3rX94vdgqWdY3XPh3dMZMQ2sL8ZlADZnb903ono

[2016-05-18 07:05] stevetb commented on #20
Updated SNES.csv file with the two missing hashes:

https://drive.google.com/open?id=1bAlg3rX94vdgqWdY3XPh3dMZMQ2sL8ZlADZnb903ono

[2016-05-18 07:11] stevetb commented on #83
Using your .csv I also found 3 other roms for NFL Quarterback Club which should also point to TGBD ID 5707 instead of 5706.  It's all in the .csv I just posted.

[2016-05-18 07:19] stevetb commented on #83
Are you okay if I post that link to the Wiki?

[2016-05-18 07:20] sselph commented on #83
the link to the hash.csv? Sure it is in the code.

[2016-05-18 07:30] stevetb commented on #79
@sselph instead of .ngpc all roms are listed in .ngc format.  Could you instead add this?

[2016-05-18 07:37] stevetb commented on #83
Done and done, let's close this thread.

[2016-05-18 07:37] #83 closed

[2016-05-18 08:02] stevetb commented on #43
@sselph

Here is the complete No-Intro Romset for Neo Geo Pocket:

https://drive.google.com/open?id=1PVq4BAkwDM_Qet-ErjOt_oQKJn8_ymFvouwY6Csz7PY

[2016-05-18 08:02] stevetb commented on #20
@sselph

Here is the complete No-Intro Romset for Neo Geo Pocket:

https://drive.google.com/open?id=1PVq4BAkwDM_Qet-ErjOt_oQKJn8_ymFvouwY6Csz7PY

[2016-05-18 08:24] stevetb commented on #45
This issue is resolved through MegaDrive vs Genesis through the rom directories within RetroPie.

I suggest we move to close this issue.

-Steve

[2016-05-18 08:53] robertybob commented on #80
@sselph Thanks! After all the matching and blank-filling, I'm going to be so pissed off it thegamesdb.net ever goes down for good !

[2016-05-19 00:47] sselph commented on #79
oops copied the folder name instead of extension from the wiki. I'll fix that real quick.

[2016-05-19 01:15] sselph commented on #79
Fixed and released.

[2016-05-19 01:16] sselph commented on #43
Added hashes

[2016-05-19 16:18] BenWlson commented on #20
Here are some TurboGrafx CD updates. These are based on CUE files for the compressed audio (ogg) sets out there. There are also a rom or two from SNES and Genesis updated in there too.

https://www.dropbox.com/s/a5vpcl9uqx8a62r/HASH%20Updates%205-19-2016.csv?dl=0

[2016-05-19 17:00] BenWlson commented on #20
Here are some more ScummVM games. Mostly Sierra games plus a couple others. The hashes are all identical, but the filenames are there.

https://www.dropbox.com/s/pkreabdakw1q1cs/Missing%20ScummVM.csv?dl=0

[2016-05-19 17:41] BenWlson commented on #20
The US version of the SNES Final Fantasy III improperly grabs the data for the Japanese version (Final Fantasy VI).

`MD5: 544311e104805e926083acf29ec664da`
`SHA-1: 057ada1c641e3e0b3ca34e6e4f4eb1b05a87143a`
`final fantasy iii (usa) (rev a).sfc`
http://thegamesdb.net/game/83/

[2016-05-21 19:09] stevetb commented on #79
@sselph Below is the completed No-Intro Romset for Neo Geo Pocket Color:

https://drive.google.com/open?id=1zOPTHdEGur0YQldCuVgluMe3Nq82j4-CEoKjM72WUTg

Please add when you can and I will verify.

[2016-05-21 19:13] stevetb commented on #20
@sselph Please update the following when you have time.  All SNES for No-Intro should be complete once these last 11 are added.

https://drive.google.com/open?id=1bAlg3rX94vdgqWdY3XPh3dMZMQ2sL8ZlADZnb903ono

**Note:**  Star Fox - Super Weekend (USA) and NFL Quarterback Club (USA) are both updates to incorrect TGBD pointers

[2016-05-21 19:23] stevetb commented on #43
@sselph This looks 100% from my end.  I think it is safe to say this is Supported now through scraper.

Please close this thread, we did it!  Yay!

[2016-05-21 19:34] stevetb commented on #72
@sselph Starting on this set now.  Give me a few days to complete.

[2016-05-22 02:52] BenWlson commented on #20
Lot's of missing data for various handheld platforms. Lots of dumb kid games, but it will make things more complete. It also has NeoGeo Pocket Color which I think someone else recently sent data for, but I have the US set in there too.

https://www.dropbox.com/s/0efcbze21afn3a8/handheld.csv?dl=0

[2016-05-22 15:26] #43 closed

[2016-05-22 19:21] stevetb commented on #72
@sselph It looks like you did most of the hard work!  There were a few holes left within the No-Intro Romset which I have filled in.  After there are entered I will verify and then we can mark this as completed.

https://drive.google.com/open?id=1KEU1c_etVgPs8tOKiRSWcCa-GXV_D-SjuCRoWliPr1k

[2016-05-23 00:57] sselph commented on #79
Added

[2016-05-23 00:57] sselph commented on #72
Added

[2016-05-23 00:58] sselph commented on #20
@BenWlson @stevetb I think I have added all the information y'all provided.

[2016-05-23 03:46] stevetb commented on #79
@sselph Looks perfect, thank you for adding.

We can close this and call it now supported.

[2016-05-23 03:46] #79 closed

[2016-05-23 03:54] stevetb commented on #72
@sselph I just re-ran and it looks like the titles I added are still not showing up for ColecoVIsion.  I also checked your CSV and did not see them in there either.

[2016-05-23 04:05] stevetb commented on #20
@sselph so close, hahaha.  I still need these two titles updated.  Here are the correct hashes and TGDB links which both need updated on your hash.csv

https://drive.google.com/open?id=1hl9CBD1nmbGknm57E9KMGX6YIeqfNPymtFbC_NhMjFU

[2016-05-23 04:05] sselph commented on #72
Thats odd. I just downloaded it to make sure and I see 173 and all have an ID

[2016-05-23 04:06] stevetb commented on #72
Let me wipeout all of my gamelists and regenerate.  Hopefully its me.

[2016-05-23 04:07] sselph commented on #20
Something else must be going on Those hashes appear in the csv.

cat hash.csv.gz | zgrep 078c3f6ae65c243fe3e330c699a75df536a5c20a
078c3f6ae65c243fe3e330c699a75df536a5c20a,5707,6,NFL Quarterback Club (USA)

cat hash.csv.gz | zgrep 2ba5f446dcb56d1164e28b337ae7b4833278b6d9
2ba5f446dcb56d1164e28b337ae7b4833278b6d9,26300,6,Star Fox - Super Weekend (USA)

[2016-05-23 04:28] stevetb commented on #72
@sselph The issue was on my end.  I still had an images folder in the roms directory for coleco after I created the .CSV for all missing files.

[2016-05-23 04:29] stevetb commented on #72
I think we can now mark this off as completed.  Thank you sselph!

[2016-05-23 04:40] stevetb commented on #20
@sselph I cleared out my downloaded images and gamelists and ran it again.  This fixed both of the above.  Thank you and sorry to pester you on these......especially when it is my error, doh!

Thank you sselph!

[2016-05-23 05:09] BenWlson commented on #20
https://www.dropbox.com/s/1fz78rs78estn2l/More%20Hashes%205-23-16.csv?dl=0

Here's a few that seem to be missed from what I submitted earlier.

[2016-05-23 11:58] sselph commented on #20
@BenWlson Sorry about that. It should be fixed now.

[2016-05-23 11:59] #72 closed

[2016-05-24 21:43] stevetb commented on #58
@sselph I should have this done soon.  I will start working on this tonight.  Since we do not have a No-Intro set to pull from I will pull what I have and work off of that.

[2016-05-24 21:44] stevetb commented on #45
@sselph Can we close this?

[2016-05-24 22:19] sselph commented on #45
I think so

[2016-05-24 22:19] #45 closed

[2016-05-24 22:46] stevetb opened #84 "Add Support for Vectrex"
@sselph I would like to add support for the General Consumer Electronics - Vectrex.  This system is currently supported by RetroPie and gets little love.  Since there are only 45 No-Intro ROMs associated with this system it will be an easy one to complete overnight.

The file extension is .vec

[2016-05-25 01:15] sselph commented on #84
Added .vec and .gam since they are both listed here:
https://github.com/RetroPie/RetroPie-Setup/wiki/Vectrex

[2016-05-25 18:39] stevetb commented on #84
@sselph Thank you, I am almost done with Intellivision.  This will be my next platform.

[2016-05-25 19:51] BenWlson opened #85 "Support for Atari 7800"
If you could please add support for Atari 7800, I will supply the HASH data and GamesDB links.

~/RetroPie/roms/atari7800
*.a78 *.bin

[2016-05-25 20:23] stevetb commented on #85
@BenWlson Make sure you are using the No-Intro Romsets.  Linking to the existing TGDB files is pretty straight forward.  The hardest part I have found is adding games to TGDB which do not exist.  Artwork can be hard to find and often needs to be cropped to show the cover scan only.  Make us proud bud!

[2016-05-26 05:55] stevetb opened #86 "Add Support for Magnavox Odyssey²"
@sselph  I would like to add support for the Magnavox Odyssey².  This system is currently supported by RetroPie.

The file extension is .bin

[2016-05-26 05:56] stevetb commented on #58
@sselph TGDB was dead slow tonight.  Will finish this tomorrow night, so close too.

[2016-05-26 05:59] stevetb opened #87 "Add Support for Atari 5200"
@sselph  I would like to add support for the Atari 5200. This system is currently supported by RetroPie.

The file extension is .a52

[2016-05-26 06:02] stevetb opened #88 "Add Support for Atari Jaguar"
@sselph  I would like to add support for the Atari Jaguar. This system is currently supported by RetroPie.

The file extension is .j64

[2016-05-26 06:06] stevetb opened #89 "Add Support for Atari Lynx"
@sselph  I would like to add support for the Atari Lynx. This system is currently supported by RetroPie.

The file extension is .lnx

**Note:**  That is LNX

[2016-05-26 12:37] BenWlson commented on #89
Atari Lynx is already supported. Complete US romset scrapes no problem.

[2016-05-26 14:42] sselph commented on #89
Yeah it should be there already but if there are missing games feel free to submit them otherwise you can close this out.

[2016-05-26 14:52] sselph commented on #86
The .bin extension is already supported. Let me know if the hashes aren't matching the no-intro hashes and I can add see if I need to do any striping of headers etc. I probably won't need to since bin typically indicates a plain binary.

[2016-05-26 15:05] stevetb commented on #89
Great to know, I will run through Lynx over the weekend with the No-Intro Set and post up a CSV for anything which is missing.  I'll close this out after that pass is completed.

[2016-05-26 15:08] stevetb commented on #86
@sselph Sounds good.  I am planning on going through quite a few platforms over the weekend.

[2016-05-26 15:43] BenWlson commented on #20
https://www.dropbox.com/s/w72wbd0ykcq06gq/atari2600.csv?dl=0

Some Atari 2600 updates.

[2016-05-26 15:45] BenWlson commented on #85
The .a87 extension needs to be added so I can generate a csv file from my roms.

[2016-05-26 16:11] stevetb commented on #20
@BenWlson We need to clean up the rom names for that Atari 2600 set.  Basically take out anything in between brackets and remove the file extension.  I'd also remove the Extra and Error columns.  For the TGDB column, I would remove the http address and instead just put down the ID (Example = 33333).  Lastly, you would make another column for Platform so that sselph does not have to look that up an

[2016-05-27 00:08] sselph commented on #20
Those things are easy enough for me to fix and If the name isn't a no-intro name I just leave that field blank and it picks up the name from thegamesdb.

[2016-05-27 00:14] sselph commented on #20
Forgot to say these have been uploaded.

[2016-05-27 03:34] sselph commented on #85
I'm seeding this with no-intro data the only one that did quite match was
`c44fe244206590abc26fbbd520a5726353899e35,22379,27,Baseball (Europe)`
I matched it to Pete Rose Baseball which is a clone of the game.

The .a78 seems to include a header not in the no-intro hash so added logic to try and detect and remove it.

[2016-05-27 03:35] sselph commented on #87
Added what I could match

[2016-05-27 03:35] sselph commented on #88
Added what I could match

[2016-05-27 03:52] BenWlson commented on #85
All my games scraped successfully. Thanks.

[2016-05-27 03:52] #85 closed

[2016-05-27 03:57] BenWlson opened #90 "Add .pbp support for PSX"
Using PBP files for PSX is the way to go. They are compressed versions of PSX meant to be used on the PSP system, but they work perfectly in the lr-pcsx-rearmed emulator, and they take up significantly less space than their CUE/BIN counterparts.

[2016-05-27 20:56] stevetb opened #91 "No Images Post Scraping When Viewed"
@sselph I found this on Reddit.com.  I too am seeing this for some folders in my build so I don't know of a clear solution to offer to this person
-Steve

https://www.reddit.com/r/RetroPie/comments/4l9l4p/problem_using_steven_selphs_scraper/

Problem:
I'm having some issues trying to scrape all of my roms.

I started using the built in scraper in RetroPie but realized it was going to take way too

[2016-05-27 20:59] stevetb commented on #90
@BenWlson Great idea!  They also work great for Multi-Disc sets for games such as FF7.  The hard part however I would guess would be to do the hash as I could see most people when they build the PBP file end up with a different hash.  Maybe @sselph has an idea on how to add support.

[2016-05-27 21:03] BenWlson commented on #90
The pbp files readily "available" online are inside a rar file. When extracted, you get eboot.pbp

I just rename this file to match the name of the original rar file.

[2016-05-27 21:40] stevetb commented on #91
For me, I believe my issue is that I did not also remove the gamelists.xml file from within my roms folders after scraping.  I think I still have a few of those in my roms folders which were generated which I was scraping for missing titles.  I will verify tonight, but I feel confident that is my issue.

[2016-05-27 21:42] sselph commented on #91
Couple things it might be. Was EmulationStation shut down? It sounds like it might have been but if it is running then when it shuts down it write what it had in memory to disk. Good news is the thing that normally takes the most time is downloading images and the scraper won't overwrite those so might be quick to fix.

I saw your update pop up as I was typing this and that is the second option is

[2016-05-27 21:52] sselph commented on #91
Another possibility is there were issues with RAM or something when there were tons of images. It manifests as nothing really working then you remove one system and everything works again. So if you try just renaming a few of the systems gamelists(so ES won't load them). You might see it click and start working after you hit some magic number. This was an old issue and may be resolved but just a t

[2016-05-27 21:52] stevetb commented on #91
When running the scraper through the front end when ES is running I believe it denies running the scraper.  I tried this through Putty as well and if ES is running on the PI then the error comes up in putty as well.  It looks like the safeguards for running scraper are good from what I am seeing.  My bet would be that gamelists.xml exists in the rom folder, I am sure that is my particular issue wh

[2016-05-27 23:49] stevetb commented on #91
@sselph Here is another thread you may want to look at:

https://www.reddit.com/r/RetroPie/comments/4l4dao/question_about_stephen_sselph_scraper/

[2016-05-28 02:42] sselph commented on #90
I looked at this briefly but didn't get too far. I think the format is a container type format so might be possible to get at the underlying bin information to be able to hash it, similar to how I do zips. I may have to setup a windows machine and try creating one of these with known data to see if I can find it in the file afterward.

[2016-05-28 19:53] stevetb commented on #20
Just finished the No-Intro set on my end for Sega Genesis and Sega Master System

1.  Sega Genesis is perfect!  Good job!
2.  Sega Master System I just need to add one Australian ROM  Here is the .CSV

https://drive.google.com/open?id=1GZeScDgMLsijU7mRrFz029cVHDKwHfh6I8t4tBOaOrA

Thank you and great job @sselph !

[2016-05-28 20:50] stevetb commented on #84
@sselph Try this on your end when you can.  When I ran the missing hash generation my file is empty except for the header in the file.

[2016-05-29 00:06] sselph commented on #84
It seems to work for me. Do you see the errors from it not finding the hashes?

[2016-05-29 01:26] sselph commented on #20
Done

[2016-05-29 01:40] sselph commented on #91
turned out to be missing parent folder of gamelist. Resolved by commit 3afc55db5ca484524c7994e107cc853f91aa4d18

[2016-05-29 01:40] #91 closed

[2016-05-29 05:14] BenWlson commented on #20
The US version Alisia Dragoon Sega Genesis rom currently pulls the wrong version:
`Alisia Dragoon (USA).md`
`SHA-1: 15B6244385DB4B449B7C189C13DB7B9C1427C688`
should be:
[http://thegamesdb.net/game/4243](http://thegamesdb.net/game/4243)

[2016-05-29 09:11] stevetb commented on #84
@sselph My bad, I needed to update the scraper to the latest version.  That seemed to fix this issue.

[2016-05-29 17:18] sselph commented on #20
Done

[2016-05-29 19:50] stevetb commented on #20
@sselph Two tiles (Proto) which I need to complete USA N64 No-Intro Set.

https://drive.google.com/open?id=18F35J2RV1iIZZT4RnwJcDCK7L3UgtD7rjxDs47B_M58

You've done a great job with N64, very complete.  Thank you!

[2016-05-29 20:09] stevetb commented on #89
@sselph This set is perfect.  Thank you!

[2016-05-29 20:09] #89 closed

[2016-05-29 20:15] stevetb commented on #88
Perfect 100% Match for No-Intro!  Thank you @sselph you're the best!

[2016-05-29 20:15] #88 closed

[2016-05-30 01:35] sselph commented on #20
Done

[2016-05-30 22:08] BenWlson commented on #20
When I scrape my Genesis USA romset, the majority of the roms end up with US Genesis images, but a small handful come back with MegaDrive images.

Here is the list of the wrong region Genesis roms with hashes and links to the US gamesdb version:
https://www.dropbox.com/s/9xikmeu6ar06xvc/Wrong%20Region.csv?dl=0

There are a couple roms that appear to be USA/Europe or World versions, so I guess they

[2016-05-31 16:01] BenWlson commented on #20
Here are some updated for Sega CD. They are based on CUE files for a compressed audio (OGG) romset that's out there. I have most of the US romset with the exception of the FMV and shooter games. I may do those later.

https://www.dropbox.com/s/c0voyk8vcaan2h9/segacd.csv?dl=0

[2016-06-01 05:25] stevetb commented on #58
@sselph As promised, here is the .CSV for all Intellivision ROMs I could find.  6 of these games I could not find corresponding ROMs, but they exist so I kept them in the list.  I am sure there are other homebrew titles, and possibly a few other official titles, but this should cover most.  Since there is not a No-Intro Romset, this was the best I could do.  Please let me know if I made any errors

[2016-06-01 06:07] stevetb commented on #84
@sselph Here is the complete No-Intro Romset for Vectrex.  All ROMs from the Romset have been added.  I have removed the file extensions for the name but otherwise kept the name exactly as it is for No-Intro.  Please let me know of any corrections I need to make.

https://drive.google.com/open?id=1fqT4FTz_hDnhRpFrf-iToeA3b2itCS9vdhIDUFjN7h4

[2016-06-02 05:52] stevetb commented on #20
@sselph Here are the last No-Intro Roms I needed to complete NES.

https://drive.google.com/open?id=1jYvG6mYSZBIIaqC2Ibv0y4YKaDNGHK3WMeLXn8GCTDU

Thank you again!

[2016-06-03 01:57] sselph commented on #84
Done

[2016-06-03 01:57] sselph commented on #58
Done

[2016-06-03 01:59] sselph commented on #20
@BenWlson Thanks, updated the MD entries. I have chosen to use the US version for USA/Europe since USA accounts for over half of the worldwide sales of genesis/megadrive platforms. Also added the sega CD entries.

@stevetb Added/Updated the NES entries.

[2016-06-03 14:57] stevetb commented on #84
This looks great!  Thank you.  I'm going to close this out and I think we can say it's now supported.

[2016-06-03 14:57] #84 closed

[2016-06-03 14:58] stevetb commented on #58
This looks great!  Thank you.

@sselph can you close this?

[2016-06-03 14:58] stevetb commented on #20
@sselph Thank you!

[2016-06-03 20:54] stevetb commented on #15
@sselph Found this in github for Retropie-Setup.  Felt it would be well suited as a main page for the wiki.  I made several revisional changes to what was on their site to make this a bit more current.

https://github.com/sselph/scraper/wiki/Steven-Selph's-Scraper

[2016-06-03 21:10] HerbFargus commented on #15
@stevetb Its nice and all but the scraper in retropie is very specific to retropie (including the dialog menu etc) sselphs scraper can be used on windows and other systems with much more command line flags for more flexibility, perhaps those would be better highlighted with the scraper for all its use cases

[2016-06-03 21:46] stevetb commented on #15
@HerbFargus I have always assumed most, if not all, users are on RetroPie.  Perhaps there is a parallel group out there using it for Windows / Linux actively, but I am not aware of any.

The Home Wiki page this replaced previously said "Home for SSELPH Scraper" so I believe my changes were value added for sure, even if RetroPie specific.  The great thing about the Wiki Home page is you can make ch

[2016-06-03 21:59] HerbFargus commented on #15
Not trolling just being verbose. I meant no criticism,  just sharing my opinion.

You're probably correct in That the majority of people who use sselphs scraper are using RetroPie but o guess I'm one of the few who also use it for windows and Linux.

But as this is the repository for the scraper itself rather than for RetroPie it makes sense to document all its use cases as long as they are clear.

[2016-06-04 00:35] #58 closed

[2016-06-04 02:39] BenWlson commented on #20
`007 - The World Is Not Enough (USA, Europe).gbc` for GameBoy Color incorrectly pulls from the N64 007.

Here's the correct one:
`SHA-1: 43552FD2F4464F42D9A5AA7CDF79A012C2BD9DC4`
`http://thegamesdb.net/game/20734`

[2016-06-04 16:42] sselph commented on #15
Thanks for bringing this back up and taking some initiative to work on it. The scraper is also used by Recalbox, LaunchBox, EmulationStation standalone, and others. ~30% of the binary downloads are for windows.

I'll try and make some time to add in some use cases. There should be some better documentation on running the scraper from the command line for different use cases since there are so many

[2016-06-04 18:42] stevetb commented on #15
No worries, thank you both.

[2016-06-04 19:19] stevetb commented on #87
@sselph It looks like only 5 titles were left to add.  Please add when you can then we can close and mark this as completed, yay!

https://drive.google.com/open?id=1HxsVnWyiUJhLMMIZdXFV2WNGC3M45HMGPG6gCSQ2e2g

[2016-06-04 21:04] stevetb commented on #20
Here is should be the last titles for the Sega Game Gear for No-Intro.

https://drive.google.com/open?id=1acEedM2Mx_ePLLvaYaefGSnebdfKYjljNVXR_Ubdq_s

[2016-06-04 21:07] stevetb commented on #86
@sselph I tried running this today through the setup script (which I updated prior to running) and it failed (No Hashes Found Errors).  I then tried running this manually as well, same errors and no CSV generated in the end.  The folder these are in is videopac.  Please look at this when you have a moment and hopefully we can fix it.  I can match everything up at that point.

[2016-06-04 21:28] stevetb opened #92 "Add Support for Neo Geo"
I would like to have the Neo Geo platform added.  The default extension for Neo Geo is .zip

https://github.com/retropie/retropie-setup/wiki/neo-geo

Please add and I will go through TGDB and connect all.

[2016-06-04 21:31] stevetb opened #93 "Add Support for Daphne"
Please add Daphne support when you have some time.  The default file extension is .daphne

https://github.com/retropie/retropie-setup/wiki/Daphne

I can connect the files to TGDB when added.

[2016-06-04 21:33] stevetb opened #94 "Add Support for Game & Watch"
I would like to have Game & Watch added. The default extension for Game & Watch is .mgw

https://github.com/retropie/retropie-setup/wiki/Game-&-Watch

Please add and I will go through TGDB and connect all.

[2016-06-04 21:56] biscuits99 commented on #92
Would this already be included via mame?

[2016-06-04 22:40] BenWlson commented on #92
It is currently supported via MAME, but therefore has limited descriptions and only screenshot images for cover art. Thegamesdb has proper info for the home console AES version of NeoGeo, so it would be nice to scrape actual boxart images.

[2016-06-05 01:17] sselph commented on #92
This one will be a little tricky. Normally when I encounter a .zip file I look inside for a ROM extension I recognize and hash that. So in this case I guess I would need to hash the zip file itself. What is in the zip files? Are there multiple files or a single file? Is there some uniformity like every one contains a set number of files or files named a certain thing that I might be able to has in

[2016-06-05 01:22] sselph commented on #93
According to the wiki page it looks like .daphne is a folder with things in it? Am I reading that correctly? It also looks like it also uses a strict naming scheme like dle21 is a key that tells daphne what game it is. If that is true this seems similar to scummvm and might require some special tooling.

[2016-06-05 01:28] HerbFargus commented on #93
Yep you got it. I think the main daphne page has more info on it as the .daphne folder was just a filename we chose for implementing it with RetroPie and emulationstation.

This page I think has all the games and filenames: http://www.daphne-emu.com/mediawiki/index.php/CmdLine

[2016-06-05 01:43] sselph commented on #93
Thanks. So what I'll probably do is what I did for scummvm. The "key" will be dle21.daphne instead of a hash and I'll use that to match to thegamesdb. I'll play around with adding this.

[2016-06-05 02:18] sselph commented on #87
Thanks! These have been added.

[2016-06-05 02:22] sselph commented on #20
@BenWlson I couldn't find that hash in my DB and the 007 for the GBC is already linked to that ID. The only things that link to http://thegamesdb.net/game/238 are the 2 versions of 007 for the N64. Maybe this was fixed recently and the image that was downloaded is stale?

@stevetb Thanks! Added the missing GG.

[2016-06-05 02:56] sselph commented on #86
Seems to work. I went ahead and added what I could match using my scripts and spreadsheets.

[2016-06-05 04:09] HerbFargus commented on #15
I've updated the wiki home page and its somewhat derived from the readme with a few enhancements and I've made sure to reference retropie and link it to the retropie Wiki page, feel free to add any improvements or changes

[2016-06-05 04:42] sselph commented on #15
Thanks. I made a few changes to some of the links and wording. I also created a https://github.com/sselph/scraper/wiki/Using-your-own-images to talk about some of the ways to make the scraper use images the user supplied since it seems to come up a lot. I need to test them to make sure they actually work.

[2016-06-05 04:57] HerbFargus commented on #15
Appreciated. just as a reference I wrote a snippet on scraping your own images on the RetroPie wiki and I can confirm that one works as I wrote it as I tested it:

https://github.com/RetroPie/RetroPie-Setup/wiki/scraper#scraping-your-own-images

But it more or less looks like the same instructions that you wrote so probably should work

[2016-06-07 06:48] BenWlson commented on #20
Somehow I gave the wrong hash for the improper GBC 007 game. I just double-checked it, and it's getting an N64 image.

`71D84B4065CF2C36B5E337BC2C56D8384418529F`
http://thegamesdb.net/game/20734

another missing hash:
`EBF766B37CE893579E76CC9367711DF8479269CD`
http://thegamesdb.net/game/25769/

[2016-06-08 04:21] stevetb commented on #87
Verified, these are all correct.  Thank you @sselph!

[2016-06-08 04:21] #87 closed

[2016-06-08 06:19] stevetb commented on #86
Here you go, all the other no-intro titles for Odyssey 2.  I will check when you add them.  Not sure why I could not see them before.  Updating this time seemed to pull in the titles.  Maybe it needs a single title added before it can detect on the RetroPie, just a guess though.

https://drive.google.com/open?id=1scBpDyuhcL6Yh0zVmWjOdMSbhjJ7ZVoxjdBLjylF9Ks

[2016-06-08 06:22] stevetb commented on #28
We probably need a group of 4 people to tackle Nintendo DS.  It's a huge set, I would help do it.......but we would need other volunteers.

@BlackrosesXI would you be willing to help?

[2016-06-08 06:31] stevetb commented on #92
In the .zip file I am seeing multiple .bin files inside.  It looks like number of C1/C2/C3/C4 files varies per .zip file.  Same can be said with the V1/V2/V3 files.   There is only a single .zip file per title.

**Here is an example of file names for 3 Count Baseball:**
043-c1.bin
043-c2.bin
043-c3.bin
043-c4.bin
043-m1.bin
043-p1.bin
043-s1.bin
043-v1.bin
043-v2.bin

**Here is an example of Age o

[2016-06-08 06:34] stevetb commented on #92
@biscuits99 It looks to be supported, but as @BenWlson said, it pulls the MVS platform and not the AES platform for information.  TGDB has a NeoGeo Section so that would be ideal to use I would think.  Even if there is redundancy with MAME.

[2016-06-08 06:37] stevetb commented on #93
@sselph Let me know if you need help with one of them to get it going.  After we have one I can do the rest from there for TGDB to CSV.

[2016-06-08 11:14] biscuits99 commented on #92
You may also need to consider that the contents of the zip files have the possibility of changing depending on what the arcade emulator & version you are running requires, lr-mame-2003, pifba, gngeo etc....
So I imagine safer to rely on the zip name that wont change, and have a flag for neogeo to avoid pulling any duplicates from mame. That way you could scrape these for mame or neogeo.

[2016-06-09 04:13] sselph commented on #92
Ah okay. I guess I could use the same approach as daphne and scumm where the filename is the key and we just ignore the hash.

[2016-06-09 04:18] sselph commented on #93
I can setup a workspace for this. @HerbFargus at http://www.daphne-emu.com/mediawiki/index.php/CmdLine there are entries like lair2_* is that * a wildcard or a literal *?

[2016-06-09 04:21] sselph commented on #28
I've been an a-hole and probably didn't really look that hard or saw the number of entries and that was as far as I looked. If you want I can do a very course matching with my current workflow to get you started. Similar to what I did on some of the other platforms, but they were much smaller and the fallout was ~5 games. If this is much larger it may be dozens.

[2016-06-09 04:30] sselph commented on #86
Thanks! These have been added. Let me know if there are any issues.

[2016-06-09 04:51] sselph commented on #20
@BenWlson I'm not seeing that hash either. It is also upper case. GBC should be a standard shasum but could you try using my shasum utility
https://storage.googleapis.com/stevenselph.appspot.com/shasum_linux_386.zip
https://storage.googleapis.com/stevenselph.appspot.com/shasum_linux_amd64.zip
https://storage.googleapis.com/stevenselph.appspot.com/shasum_rpi.zip
https://storage.googleapis.com/steve

[2016-06-09 05:16] HerbFargus commented on #93
That's  good question. I haven't the slightest, seems three of them have asterisks but I don't know what they mean

[2016-06-09 05:21] sselph commented on #93
Okay, If I had to guess it would be a wildcard but like mentioned, it is only 3 so not that big of a deal. I might need to add some code to handle those but will create a workspace for the non-wildcard tomorrow.

[2016-06-09 22:37] stevetb commented on #93
I will start building the TGDB titles, if they do not exist currently.  Most I would assume exist currently.

[2016-06-09 22:38] stevetb commented on #92
Sounds good, I can match up to TGDB if you need my help.

[2016-06-09 22:43] stevetb commented on #28
No rush SSELPH, this would be one of the final systems I think we would scrape due to the volume of titles, I believe 1400.  I think others need to step up as well to help.

[2016-06-10 00:51] stevetb commented on #86
@sselph This turned out perfectly!  Thank you!  I will close.

[2016-06-10 00:51] #86 closed

[2016-06-10 02:31] stevetb commented on #93
@sselph Here you go!  All of the Daphne titles are now entered into TGDB.  Here is a CSV mapping TGDB to the folder names from the above workspace mentioned above.

https://drive.google.com/open?id=1v1RrTyWejhBpO8UOBWhiILTHUfQyh9tZe_s7IEg4Kqc

[2016-06-10 04:05] stevetb commented on #92
Hopefully this helps.  I tracked down all of the NeoGeo TGDB ID's.  Then I matched them all up to the .zip file names.  Some files I found two versions were available so I made a second column and called it "ZIP Name Alternate".

https://drive.google.com/open?id=1FISIrcVIQuWcUUh09Q6008Rws8EJtYBbh0PpCbENPbY

[2016-06-10 20:26] stevetb commented on #94
@sselph I'll start working on these this weekend.  I have not had good luck though with starting off on a new platform for scraping on a RetroPie.  I will try it but I may need to have you scrape at least one title before the platform will scrape for me.  Not sure why that is, but it seems to happen everytime.  I'll let you know how it goes.

[2016-06-12 04:27] sselph commented on #93
Sorry for the delay, I was playing around with trying to import my code in to EmulationStation. I've added these so hopefully daphne works.

[2016-06-12 04:28] sselph commented on #92
Thanks, I've added these.

[2016-06-12 19:52] stevetb commented on #93
I added two additional folders to the above list.  Galaxy Ranger and Road Blaster both did not match the folder names generated for me which were created by Daphne.  Please add **galaxyr** and **rb** from the below file.  The other folder names still should remain as options in case others are using them.

https://drive.google.com/open?id=1VQU3GsqHoZVNELzggQiqclTMt-VWC0e3GceaDKBobpo

.............

[2016-06-13 00:07] stevetb commented on #92
For me, I am not seeing any artwork for most of the NeoGeo games after scraping is completed on my RetroPie.  A few show artwork but it appears to be from the MAME section since it is screenshots only of the games, not the AES console artwork for this platform which exists on TGDB.

Here is a list of the art which was scraped incorrectly from the Arcade section instead of NeoGeo Console.  This is

[2016-06-13 00:08] stevetb commented on #92
Descriptions appear correctly, however, I am not positive they are from NeoGeo or Arcade as probably both the same descriptions copied over from one to the other when they were created.

[2016-06-13 01:22] sselph commented on #92
Ah has to do with the mame image flags. The standard title, snap, marquee, cabinet images. I forgot TGDB returns boxart so would need to do -mame_img="b" if using the -mame flag.

[2016-06-13 01:59] sselph commented on #93
Added them anyway.

[2016-06-13 02:06] sselph commented on #92
I think I fixed it

[2016-06-13 04:53] sselph commented on #94
Let me know if it is an issue. I can't think of any reason that there has to be 1 valid match before any missing information would be printed but I'll take a look.

[2016-06-13 05:55] stevetb commented on #94
It worked great, no issues.  Here is the CSV for everything mapped:

https://drive.google.com/open?id=18ikBTl_ItO062zOambgNrLW5f1b_35bPXOQXcHEkZ9g

[2016-06-13 06:44] stevetb commented on #92
It worked!  You're friggin' awesome!  Thank you.

Let's not close this quite yet.  There are some titles left which I would like to add which were not on the list above.  After that I think we are set to close and mark as complete.

Thank you!

[2016-06-13 06:46] stevetb commented on #93
Looks great, thank you for doing all that you did!

Closing and marking as complete!

[2016-06-13 06:46] #93 closed

[2016-06-15 03:15] stevetb commented on #92
@sselph Here is a new CSV which I think has most, if not all, of the issues corrected for Neo Geo.

1.  Please add games 2-7, they are missing
2.  Please correct the names for 8-21.  My apologies I do not have the hash for these, only the filename.

https://drive.google.com/open?id=11W6UZxQtBwyAVuSDpwXvQiYOzDKQxy2MvqapGc6yp48

Thank you!

[2016-06-16 14:55] InsecureSpike opened #95 "Add Support for Nintendo Famicom Disc System"
could you please add support for Nintendo Favicon Disc System

https://github.com/RetroPie/RetroPie-Setup/pull/1531

thank you

[2016-06-17 13:16] robertybob commented on #20
Game Boy:
Probotector (EU) should link to 26550
Probotector 2 (EU) should link to 26552
Currently they pull the info from the US versions (Operation C and Contra: The Alien Wars)

[2016-06-20 03:48] sselph commented on #94
Sorry for the delay but I've added these.

[2016-06-20 03:48] sselph commented on #92
Sorry for the delay but added these.

[2016-06-20 03:49] sselph commented on #20
thanks @robertybob. Sorry for the delay but fixed these.

[2016-06-20 04:38] stevetb commented on #94
I made three errors.  Here they are corrected and marked in Red where the error is.

https://drive.google.com/open?id=1rzjZM2-v7zRngSfiAOCLmMlEYCrkfbl6Yj8xyxh5IEM

[2016-06-20 05:16] stevetb commented on #92
We still need to update the names for these alternate versions.  I marked the errors in red.

https://drive.google.com/open?id=1eEwboJDG6QtTXgwZA09u7G-7gV0YqnP8Lk5LxVHLjVI

[2016-06-20 07:06] stevetb commented on #20
@sselph Tonight I went through the USA and European Romset for GameBoy.  I found 10 titles which were not previosly added.  Here are all of the missing one's I found:

https://drive.google.com/open?id=1iDPBZoaJfruEIyhF3WXceH6NhiDGoJjiYrWlQDEEfcc

[2016-06-22 15:45] robertybob commented on #20
SNES:

Game		Hash	**GDB ID**
Apocalypse II.smc	- 	95640a8ecff7a5380c71fd2a4915f22341870769 -	**37466**
Congo - The Movie - The Secret of Zinj.smc	32efc8993c8add3c6647fa87712c634b71158787	- **28570**
NCAA Football.smc	- f8786b52ebbfd72a2fff236a5d1cf09262e7d048	- **5702**
Network Q Rally.smc	-	94169aaeb1557a25b1e03a181a28b4b29ece6f5f - **37467**

[2016-06-23 09:12] paradadf commented on #20
`Alpha Beam with Ernie.bin` for Atari 2600 pulls incorrect metadata from PS3

Here the correction:
Game - Hash - GDB ID
Alpha Beam with Ernie.bin - a1f660827ce291f19719a5672f2c5d277d903b03 - 31122

[2016-06-23 12:00] nschloe commented on #20
A bunch of missing entries:
[code]

[2016-06-23 13:02] nschloe commented on #20
And here's a bunch of corrected hashed with thegamesdb entries:
[code]

[2016-06-24 04:38] sselph commented on #94
fixing these now will roll them out tonight after getting the rest of the pending updates.

[2016-06-24 04:50] sselph commented on #92
Opps I wasn't adding names. I went and fixed that and it will roll out tonight with the rest of the updates.

[2016-06-24 05:15] sselph commented on #20
Thanks Everyone! I'm pushing these out in a couple minutes.

@stevetb I fixed added these.
@robertybob I fixed/added these.
@nschloe I added the missing ones you provided but the corrected I'm not seeing any differences. My current entries are as follows. So either equal or for Sim City http://thegamesdb.net/game/32382 Doesn't exist so the current entry of http://thegamesdb.net/game/3259 is a bett

[2016-06-24 05:32] sselph commented on #20
Oops missed @paradadf I've fixed these. And the file has been pushed.

[2016-06-24 07:26] paradadf commented on #94
Here are two more games to add:

[code]

[2016-06-24 09:06] paradadf commented on #20
Found an error on SNES:

`Bassin's Black Bass (USA).sfc - a4d107ca8a6ce9022bc99b0212bda040d57ae3bb - 3145`

[2016-06-24 11:51] nschloe commented on #20
@sselph Thanks!

It turned out the games got scraped alright, but the images weren't overridden. After deleting all images, it turned out just fine.

A few more missing entries:
[code]

[2016-06-24 12:59] paradadf commented on #92
@sselph I just scraped my neogeo collection in mame mode and noticed that with despite of my flags `-mame -mame_img="s,m,t"` I´m getting mostly logos instead of snaps using v1.1.5.

[2016-06-24 13:13] paradadf commented on #84
@sselph This game needs to be updated. It appears that the linked game was a duplicate. Here the corrected GDB ID:
StarHawk (World) - d6b388b3951e34971c1b00c7fdf8dd00ad52df0932804 - 32804

[2016-06-25 03:57] stevetb commented on #94
Name	Hash	Platform	TGDB
Fowling	f4e6c34ee8aab0785436effc49c8bd187e031ae9	4950	**37228**
Pirate	588f5e60ec3640ff92cce6cc925180faa48e70da	4950	**37186**

Please fix the ones in bold above.  They are still pointing to the incorrect TGDB ID's.

[2016-06-25 04:29] stevetb commented on #94
@sselph the hashes from @paradadf are different than the ones I have.  I'd keep the names we have setup and just add another hash for those two titles.  After those are added I think we can close this, Yay!

[2016-06-25 04:35] stevetb commented on #92
@sselph well...........good news and bad news.  The good news is the names for the titles in my last .csv are correct so we are good there.  The bad news however is that most of the other titles updated as well and many of these now include Japanese characters at the end of the name in brackets.  We need to remove anything in brackets as they were before last night.

Examples:
Double Dragon (Doubl

[2016-06-25 05:12] stevetb commented on #20
@sselph

Not sure why but this game image is for TGDB # 294 instead of 5707.  The description is correct but only the artwork is wrong.  I have deleted the downloaded_images & gamelists & made sure the snes folder only contains roms and nothing else.

078c3f6ae65c243fe3e330c699a75df536a5c20a	5707	6	NFL Quarterback Club (USA)

Could you take a look on your end and see if I am missing something here

[2016-06-25 08:30] paradadf commented on #94
I got mine from https://buildbot.libretro.com/assets/cores/gw/
@stevetb They recently updated Parachute on that site. I had the same hash as you before.
And yes, they should be added as new entries. Thank you very much!

[2016-06-25 14:00] paradadf commented on #20
One more to add for Game Gear:

Jang Pung II (Korea) (Unl).gg - 2b3bb8fd76fe706d7e564b372d2d71dfce53cb1b - 37489

[2016-06-25 15:11] paradadf commented on #20
I´ve been rescraping my rom collections and noticed something weird with GBC.

The last time I scraped it, the missing roms were only 27 ([Missing Hash GBC (22.05.2016)](http://pastebin.com/sE4uAbY6))
Today, using the exact same roms, they were 85 ([Missing Hash GBC (25.06.2016)](http://pastebin.com/K0Ct0yBe))

[2016-06-29 00:40] sselph commented on #92
@paradadf This was because I had the gdb as a higher priority and it doesn't have a ton of screen shots. I moved it down when running in -mame mode.

@stevetb Done. I'll push these out tonight after I check the other issues for updates.

[2016-06-29 00:44] sselph commented on #94
@paradadf Added these and will upload them after I check the other issues for updates.

[2016-06-29 01:15] sselph commented on #20
@paradadf
- a4d107ca8a6ce9022bc99b0212bda040d57ae3bb was already set to 3145.
- Thanks, Added Jang Pung II.
- I refactored the file but the few spot checks I've done over the diff between the version on both dates shows that the new missing entries was missing in both copies it was just moved. Maybe there was some bug or something that caused them to not show up in the missing output.

@stevetb Th

[2016-06-30 02:17] sselph commented on #84
@paradadf Sorry I missed this. I also messed up and didn't actually upload the files from yesterday so this should be fixed.

[2016-06-30 05:19] sselph commented on #28
I did a naive match which covers ~80% of the games in thegamesDB but only ~30% of the No-Intro hashes. It will be a start but far from finished.

[2016-06-30 09:38] paradadf commented on #20
A correction, the following GDB ID should be changed from:

`241160f0691a394afe632b5b29969dae2d8f2d34,22935,4927,Desafio Chines (Brazil)`
to
`241160f0691a394afe632b5b29969dae2d8f2d34,37582,4927,Desafio Chines (Brazil)`

[2016-07-01 18:34] stevetb commented on #92
@sselph I won't be able to test on my end for a few days.  I'll report back as soon as possible.  Thank you!

[2016-07-01 18:34] stevetb commented on #94
@sselph I won't be able to test on my end for a few days.  I'll report back as soon as possible.  Thank you!

[2016-07-01 18:36] stevetb commented on #94
@paradadf Did they add any new titles from the list I put up a few weeks ago?  If so, I can add the titles to TGDB which are missing and make another .CSV for sselph.

[2016-07-01 18:39] stevetb commented on #28
@sselph Great job!

This platform will be one of the last ones I will probably get to because DS games are so difficult to play without native hardware.  Hopefully someone who has interest in this platform picks it up and assists in mapping hashes to TGDB.

[2016-07-01 18:42] stevetb commented on #95
I don't believe this is supported yet on the Retropie, which from your link appears to be the system you are interested in.  Support should be easy though to add to the sselph scraper.

What is the file extension for the games?

[2016-07-01 18:45] stevetb commented on #90
I'd close this.

It's a good idea but the container is not a standard which I think will work well for consistent hashes.

[2016-07-01 18:57] InsecureSpike commented on #95
hi, it's .fds, thank you

[2016-07-01 22:34] stevetb commented on #95
@InsecureSpike So it looks like this platform is on TheGamesDB so most titles are all set.  Do you have this running on a RetroPie?  If it works, I can help match the TGDB to file hashes.  It's a pretty small set overall.

@sselph please add .FDS as a supported file extension

[2016-07-01 22:55] paradadf commented on #94
@stevetb no need for that. They just updated two games and the hash changed, but now all roms from your list and the two updated are being scraped! Thank you both Steves!

[2016-07-01 22:57] paradadf commented on #92
@sselph it works now as intented! Thank you!

[2016-07-02 01:55] InsecureSpike commented on #95
awesome, thsnks, we've just moved so no pi's set up yet, fingers crossed for Wednesday! then I can test
thanks

[2016-07-02 19:22] stevetb commented on #94
@sselph Thank you!  This looks great.  I will close this and mark as completed.

[2016-07-02 19:22] #94 closed

[2016-07-02 19:27] stevetb commented on #92
@sselph removed downloaded_images and gamelists.xml today. Made sure no other files are in the roms directory from a previous missing scrape.  Updated the script, re-ran scraper for neogeo.  Afterwards, the names I am seeing are for the most part the same as they were for MAME.  The artwork I am seeing reverted back to MAME as well, so only title screenshots and not the boxart which we had been us

[2016-07-02 22:35] paradadf commented on #92
On my side using Windows, everything is working well. I get exactly what I ask for, either images or descriptions from the source I choose.

[2016-07-05 22:20] stevetb commented on #92
@paradadf I will setup a second Retropie tonight and see if that pulls in the right metadata.

[2016-07-06 05:55] stevetb commented on #92
I ran this again inside the roms folder and it scraped everything perfectly.  It appears the issue is on my end and not on the scraper.

@sselph Thank you!  We did it!  I will close this and we can mark this as completed.  Thank you and @paradadf for battling through this to make it perfect.  Great job guys!

[2016-07-06 05:55] #92 closed

[2016-07-06 08:57] robertybob commented on #92
@paradadf Some of the Neo Geo rear boxart images you've submitted to TGDB.net include the spine, is there any particular reason for that? You've got 9 such images in the moderation queue but I've not yet approved them for this reason. I was leaving it to another mod to decide but it looks like no one else has noticed these images yet lol

[2016-07-06 14:56] stevetb commented on #92
@robertybob are you an Administrator for TGDB?  If so, I really need your help!  I need to have a platform added and have another platform removed.

**Here are the posts:**
http://forums.thegamesdb.net/topic/129/platform-request-texas-instruments-ti-99-4a
http://forums.thegamesdb.net/topic/132/platform-delete-request-r-delete-what-am-i

[2016-07-06 15:06] robertybob commented on #92
@stevetb I don't have permissions to delete, but I've renamed that weird platform to the Texas Instruments one.
http://thegamesdb.net/platform/texas-instruments-ti-99-4a/
Are you able to add details to it, or does a mod like me have to?

[2016-07-06 15:16] stevetb commented on #92
@robertybob Thank you!  You have no idea how long I have been trying to get that platform created.  I logged in and it appears that I cannot edit the platform, that is restricted to Administrators only.

How does one become an Administrator for this site?  Is there someone I could contact?

[2016-07-06 15:18] stevetb commented on #92
@robertybob I probably have 100 images in the queue too for various games to update the images.  I kinda gave up on attempting to update images because I could never get anyone to approve.

[2016-07-06 15:20] robertybob commented on #92
@stevetb I asked kindly when the forums first went up. It seems like the owner only gets involved with the site when it goes down.
There are currently 8 images in the queue and those are from @paradadf , I remember approving all of yours so they should have been updated. There is a weird glitch whereby deleting an image and reuploading a new one results in the old one still being displayed.

[2016-07-06 15:30] robertybob commented on #92
@stevetb Don't give up, I check the moderation queues at least 3 times a week :)

[2016-07-06 16:07] stevetb commented on #92
@robertybob thank you.  I really appreciated that!

[2016-07-06 16:35] paradadf commented on #92
@robertybob Sorry about the spine for the rear box. I just saw other boxes and did it exactly like that. If that's not right, it would be noce if you could either edit and cut the spine out, or please upload the images elsewhere so I can edit them and reupload again. Sorry about the misunderstanding

[2016-07-07 10:05] InsecureSpike commented on #95
ok, my pi is up & running, but still can't scrape .fds

**cd /home/pi/RetroPie/roms/fds
/opt/retropie/supplementary/scraper/scraper -use_gdb=true  -use_nointro_name=true -add_not_found=true -use_filename=true -download_images=true**

[2016-07-07 10:18] InsecureSpike commented on #95
2016/07/07 10:17:42 INFO: hash.csv "94a1dd9563ca555428e9d9cce3454d08" up to date.

[2016-07-07 15:04] stevetb commented on #95
@InsecureSpike sorry about that.  We are waiting for @sselph.  Since it is summer time I'll bet he has a lot going on.  He will pop on and add this extension soon I'd bet.

Once he adds this, I think we are all set to start building the TGDB to Hash links.  That should only take a night or two to complete.

[2016-07-07 15:11] stevetb commented on #92
@robertybob could you email me?  I would like to discuss more about becoming an administrator for TGDB.  My email address is steve.braaten@gmail.com.

Thank you!

[2016-07-07 19:17] InsecureSpike commented on #95
no need to be sorry, I was just relaying info back, mate
thank you, for the heads up

[2016-07-07 20:27] stevetb commented on #95
I'm looking forward to doing this, it will be fun!

[2016-07-07 23:16] dankcushions commented on #68
not sure where else to put this, but this issue came up in my googling to a similar issue:

i nstalled the scraper in /home/pi, but it refused to run when i navigated to `/home/pi/roms/RetroPie/arcade` (didn't try others). got around this by running:
[code]
might help someone else..

[2016-07-08 01:11] sselph commented on #95
I added FDS support and the existing 75 thegamedb entries matched up to ~90 of the ~300 no-intro entries.

[2016-07-08 01:23] InsecureSpike commented on #95
awesome thanks guys, I'll give it a go laters

[2016-07-08 09:59] dankcushions opened #96 "Poor quality MAME snaps/titles"
Hi! I've found an interesting (well..) issue - the www.mamedb.com snaps and titles that are currently pulled by the scraper are in quite bad quality, despite being large pngs. Eg:

![cninja-original](http://www.mamedb.com/snap/cninja.png)

That file is 68KB, but if you open it in an image view and zoom in you can see it's compressed and horrible, despite being a low res, low colour arcade game scr

[2016-07-08 18:21] InsecureSpike commented on #95
do i have to update the scraper, for this to work?

[2016-07-08 21:59] sselph commented on #95
Yes or since this is a simple hash you can do `-extra_ext=".fds"` to force it to look at those files.

[2016-07-08 21:59] InsecureSpike commented on #95
awesome will try after work, thanks

[2016-07-09 08:10] InsecureSpike commented on #95
that's awesome! thank you guys!
all works well

[2016-07-09 08:10] #95 closed

[2016-07-11 04:06] sselph commented on #96
Cool if he improves his images that would be great. I've also been contacted by the author of another database but I've been lazy and not actually written the code to add it. There were a few requests that made it a little more difficult to add than just pulling down a web page.

[2016-07-12 16:18] paradadf commented on #92
Some missing files to add:

2020bb.zip,1486,24,2020 Super Baseball
b2b.zip,37986,24,Bang Bang Busters
cnbe.zip,28905,24,Codename: Blut Engel
columnsn.zip,37991,24,Columns
diggerma.zip,31598,24,Digger Man
ironclad.zip,1490,24,Ironclad
ltorb1.zip,37993,24,Jonas Indiana and the Lost Temple of RA
neonopon.zip,37994,24,Neo No Panepon
neopong.zip,37996,24,Neo Pong
neotet.zip,37997,24,NeoGeo 2-Player Tet

[2016-07-13 16:47] paradadf commented on #20
GDB ID for GBA games:

`ac9919f32220e128d3df9a6201374f16ab15e301,28086,5,"2 Game Pack! - Matchbox Missions - Emergency Response + Air, Land and Sea Rescue (USA)"`
`10bed6b69f8984af49299885fda0575fce442a9c,38040,5,3 Game Pack! - Mouse Trap + Simon + Operation (USA)`
`d015a5039ff5d08eeba3ddb16470eaab259631d0,38041,5,"Broken Circle (Europe) (En,It) (Proto)"`
`0cb385781742c25bf9d4cbeae8e83f7750af48db,

[2016-07-27 06:48] CourierSS commented on #20
I scraped for NES and noticed that many of asian/prototype origin were missing.   Not complete yet.

|                   Hash                   | GDB ID Title  |                                                                                     |
|------------------------------------------|---------------|-------------------------------------------------------------------------------------|
| 56f

[2016-07-27 12:42] CourierSS commented on #20
| Hash                                     | GDB ID | Title                                                                      |
|------------------------------------------|--------|----------------------------------------------------------------------------|
| b3d401a0032d33a6484b054f3776c906ba194d2c | 26936  | Gunhed - Aratanaru Tatakai (Japan)                                         |
| 7a5b0

[2016-07-28 04:41] CourierSS commented on #20
There's still many entries missing from gdb, but these should be all the ones that are already on there.

| Hash                                     | GDB ID | Game                                                          |
|------------------------------------------|--------|---------------------------------------------------------------|
| 146b88a05126e40463c6b59fea563f00688824bd | 33251  | Pock

[2016-07-28 17:50] stevetb commented on #20
@CourierSS Thank you for putting in the hard work on these and completing what you have.  A lot us here, probably most, don't look at Japanese titles.  They are just not on our radar, so I am sure most sets will have missing titles for Japanese games.  Once @sselph is here though he will add these from above.  Busy summer for all of us here, so things are a bit sparse right now for coverage.

[2016-07-28 17:55] stevetb commented on #30
@sselph I just wanted to update you on PSP and PSX.  I am finishing my Redump sets on these and everything else over the summer.  Once done I will look at getting hashes for all of these for USA.  The set is huge though so it will take me awhile.

[2016-07-30 06:46] CourierSS commented on #20
I was impressed by how helpful the scraper is so I figured I can contribute a bit to it.  I also realized that I provided ID for games that are tagged as beta, but I wasn't sure if they should be given the same GDB ID or not.  I left them above in the NES list.

Here is the Sega Genesis list that I scrapped that already have entries in the GDB.  There are a couple of entries that only exist in the

[2016-07-31 02:59] sselph commented on #20
Thanks @paradadf and @CourierSS ! I've been lazy and setting a new server/development machine so haven't been watching closely enough for updates. I've added all the GBA, NES and MD games. I wanted to mention that I normally use the same ID for a game and its clones unless there is a specific entry for it. So if there is prototype or beta that is the same game as another use the same ID. I have th

[2016-08-01 06:46] tokyis opened #99 "HTTP response 429 when scraping"
Hi,
Using your scraper from the retropie setup menu, I am unable to scrape due to an HTTP error.
I'm not sure if it's thegamesdb but if it is, is there a way to throttle down the request rate?
(Or I don't understand what's going on, in which case please enlighten me ^^)

I have tried from 2 different IPs.

[scraper.log.txt](https://github.com/sselph/scraper/files/393080/scraper.log.txt)

[2016-08-01 08:02] tokyis commented on #99
Now working, reading the code it looks like it was the hash.csv that couldn't be served. Google...

[2016-08-01 08:02] #99 closed

[2016-08-03 23:53] sselph opened #100 "Handle odd bin/cue setups"
Need to add a check in cues for bins with the same base name as well as removing the case sensitivity in the check.

[2016-08-12 17:42] gimmer opened #101 "Crash during a scrape of a SegaCD Directory"
I have a rather large directory of games.

When I run the scraper it crashes.

panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xc0000005 code=0x0 addr=0x24 pc=0x4a454e]

goroutine 1 [running]:
panic(0x845ea0, 0x10f6a030)
        C:/Go/src/runtime/panic.go:481 +0x326
github.com/sselph/scraper/rom.exists(0x122acba0, 0x5e, 0x2)
        C:/Go/projects/src/github.com/ss

[2016-08-14 01:32] sselph commented on #101
Seems to be an issue with it reading a cue file and trying to determine if a bin file exists or not. I'm not handling all the errors possible. I'll fix that.

[2016-08-14 03:29] #101 closed

[2016-08-20 09:34] HerbFargus opened #102 "Libretro Database Thumbs?"
Seems libretro has a database of images for thumbnails to be displayed with their xmb menu

https://github.com/libretro/libretro-thumbnails

Is there a viability of including these images somehow?

[2016-08-20 12:06] sselph commented on #102
Looks like it. I remember chatting with them and some of there work is based on mine. Notice the hash.csv and gdb scraper. Everything is keyed off the no-intro name so should line up since I can look that up based on hash. I'll just need to figure out how to integrate that option in to the dozens of options already available. If you have ideas let me know.

[2016-08-20 15:58] HerbFargus commented on #102
Perhaps have a flag for the database (I think for the metadata they use thegamesdb perhaps?):

-use_libretro

For each system they have boxart, snaps, titles

Don't know if it can be adapted to be included as the same flags with -gdb_img (or added as a new one called -libretro_img) with titles being added as "t" unless the title screens fall under logos.

E.g.
-libretro_img "b,s,t"

Idk just some

[2016-08-20 17:35] sselph commented on #102
Yeah I didn't think much about multiple data sources when setting this all up so it all seems a bit kludgy.  That might work `-libretro_img`. if you don't pass it things work as normal. If you do, then it will try to get libretro images with metadata from the normal source.

[2016-08-20 17:44] HerbFargus commented on #102
Sounds good to me

[2016-08-27 21:46] guttedgeek opened #103 "Preserve existing xml tags when re-scraping"
One issue I have is when I re-scrape my ROMS after a bit of a cleanout. I've tried pulling gamelist.xml down from RetroPie/Recalbox first in an attempt to retain "favorites" and "last played" metadata. Unfortunately the scaper removes this data. Is there someway to refresh only (IE, remove game entries that no longer contain a ROM but otherwise leave extra metadata alone?

Cheers :)

[2016-08-30 10:46] robertybob commented on #102
Is the upshot of this that TGDB won't be using as much bandwidth as these images/thumbnails are now sourced elsewhere? Can only be a good thing I imagine :)

[2016-08-30 19:57] lilbud commented on #102
I really hope this gets added. I downloaded the whole set of thumbs. and send them over manually. I am glad I don't have to do this for a full MAME set

[2016-08-31 17:16] mxstar1 opened #104 "How to create hash file?"
Im sorry if this is the wrong place to ask, but i have roms that i want to add meta data to the gamelist, however the scraper does not find the hash? aside from manually entering the data to the gamelist, how do i create a file that the scraper will read from? I have all the meta data from another website. What should the format look like? any example? Is there a way to point the scraper to a diff

[2016-09-01 01:51] sselph commented on #104
The hash file is just a csv with
hash,thegamesdb_ID,system_ID,no_intro_name

You can see my csv at https://storage.googleapis.com/stevenselph.appspot.com/hash.csv.gz

So if you knew there was an entry in thegamesdb you could potentially take the output of using the -missing flag and modify it to add the gamesdb ID to create your own hash.csv

That doesn't sound like what you want. There isn't a wa

[2016-09-01 02:12] sselph commented on #103
I don't have anything to remove entries but I don't think ES will display anything when the rom file can't be found. I have `-refresh` and `-append` but those flags will strip out those values since I'm not even parsing them. Both of them don't remove things from the xml but that was in an effort to not remove things that were manually added. Maybe I could remove things that don't have roms. I can

[2016-09-01 15:09] hanthecat opened #105 "Request: Download from paid emumovies account"
As an option allow downloading from an emumovies account.
This will resolve any issues people may have with lower quality images.

[2016-09-01 19:55] guttedgeek commented on #103
Unfortunately ES does still display the game if the ROM file doesn't exist (at least on Recalbox). This forces me to rebuild gamelist.xml whenever I have a clean out at which point I loose the existing handwritten entries, last played etc metadata.

Logic (via a switch?) to remove gamelist.xml entries that don't have a corresponding ROM sounds perfect and as you say, I can't think of a scenario wh

[2016-09-02 11:00] robertybob commented on #105
I have an account there but the problem I found that was the box-art images were mainly fake/recreated- well, at least for the Nintendo systems.

I could see this being beneficial for some, but if thegamesdb.net has low quality images then people need to upload better ones there so everyone can benefit :)

[2016-09-03 16:21] hanthecat commented on #105
I have been trying to add some to thegamedb -- The site is just so slow. D=

[2016-09-03 16:27] robertybob commented on #105
Yeah that's fair enough, thats down to its popularity more than anything.
FYI I'm a mod there so anything you submit should be actioned within a day or two :)

[2016-09-09 07:21] paradadf commented on #105
I recommend you to take a look at [screenscraper.fr](screenscraper.fr). In my opinion, that is a database worth considering to offer support for. It is still pretty new, but the quality of the media is superior to tgdb. And the developers are very responsive over IRC.

[2016-09-14 18:45] stevetb commented on #105
@sselph I really would tend to agree with the request from @hanthecat .  While TheGamesDB is a decent database, it is very much a grassroots effort being done by a small few.  I do not consider TheGamesDB to be stable or fast.  We have seen the server go down for weeks and while I find it fast enough through your scraper, the website is slow.  With EmuMovies, moving to that we get access to a DB w

[2016-09-14 20:43] paradadf commented on #105
In case you are interested, and even if the page is not translated yet, here is information about the API from ScreenScraper.

http://www.screenscraper.fr/webapi.php?alpha=0&numpage=0

There is another API with info matching 100% with the TGDB API, so it shouldn't be difficult to modify the scraper, but for that you should ask the developer directly. And you would need a DevID ;)
The best is to go

[2016-09-14 22:09] hanthecat commented on #105
I am going to have to check this out! Parlez vous? ... wish I did. :P

[2016-09-15 03:56] sselph commented on #105
@hanthecat Do you have a link to any documentation for emumovies? I can't seem to find much on their site. They seem to have their own sync tool and the forum section for it implies there is an API but I don't see anything documented. I have #102 where I was asked to add a new image source but that requires some work to change how I'm handling images. Once I figure that out I can look to expand th

[2016-09-15 03:57] #104 closed

[2016-09-15 03:58] sselph commented on #102
I apologize for not updating this. I did start work on this but the way I have things written it didn't lend itself to swapping out the image source easily. I start rearranging things but didn't finish before my son woke up and haven't gotten back to this. It seems like alternate data sources is a popular request so I'll try and make some time to work on this again.

[2016-09-15 04:23] HerbFargus commented on #102
There's no deadline, take care for the most important things in life first :)

[2016-09-15 05:25] stevetb commented on #105
@sselph I think the Emu Movies developers would really need to be consulted about how best to integrate.  Looking through their site I did not find any API explanations or integration assistance.  The best way might be to reach out to them in their forums and ask for assistance in integrating.  Let me know if you need help and I can help push this through.

[2016-09-15 06:40] Kivutar commented on #102
Hello, you can get the individual images there: http://thumbnails.libretro.com/
And the packs there: http://thumbnailpacks.libretro.com/

We follow the no-intro names exactly. For systems that are not supported by no-intro, like arcade games, it's still a work in progress.

[2016-09-15 09:43] Universal-Rom-Tools opened #106 "Screenscraper DB Integration"
Hi SSelph, I'm screech, a moderator on Screenscraper (end the dev of Universal XML Scraper)

Paradadf say us you can be interrested in integrating this new DB to your scraper ;)

(And I read you answer on the other Issue)

This is some information :

There is 2 API : The SS (ScreenScraper) API and a 100% compatible TGDB API.

We prefer the SS API, based on CRC (like your scraper) to have a good ma

[2016-09-16 03:54] sselph commented on #106
Thanks, I joined the IRC but it is pretty early in Rennes so will post here and try and discuss more when we are both awake. The main question I have is do you have things indexed using the no-intro hash? I ask because systems like NES have a header that isn't included in the no-intro hash. Most of the interesting code in my scraper is around determining the correct data in the correct format to h

[2016-09-20 03:55] #106 closed

[2016-09-22 02:23] #103 closed

[2016-09-22 08:48] necronucleus opened #107 "SNES images not downloading"
I have completely closed out ES and ran your scraper however upon completion, there are no images showing for SNES roms nor is there a directory with downloaded images in /home/pi/emulationstation/downloaded_images.

[2016-09-23 01:14] ntelalis commented on #107
I have this exact issue but for every system.

[2016-09-23 01:18] sselph commented on #107
I've introduced a bug. I'll have a fix shortly.

[2016-09-23 01:23] sselph commented on #107
I renamed the `-gdb_img` flag to `-console_img` but forgot to actually use the new flag so it wasn't downloading images. Sorry about that. The new code is being released now.

[2016-09-23 01:23] #107 closed

[2016-09-23 03:12] necronucleus commented on #107
Thank you sir!!! :)

[2016-09-23 07:44] alexanderrichards opened #108 "Images not downloading"
Hi, new user here so I'm probably doing something wrong. I'm using raspberry pi 3 with retropie 4.X.

I use the built in scraper by dropping to console with F4 then running:

[code]

then picking `configuration/tools` -> `scraper`.

If I scrape all with thumbs I see the scraper busy doing things. many lines like:

[code]

afterwards I have the `gamelist.xml` file but no `downloaded_images`/`images

[2016-09-23 11:50] sselph commented on #108
I fixed a bug last night. Try downloading the latest version.

[2016-09-23 15:15] alexanderrichards commented on #108
That seems to have fixed it, thanks very much.

[2016-09-23 15:15] #108 closed

[2016-10-01 02:19] JamesInDigital opened #109 "Request: Additional field Rating (ESRB)"
The tool is excellent. I've moved over to RetroFe recently and I'm looking into ways to convert the gamelist.xml previously generated with your scraper into the hyperspin style xml that Fe uses. Mostly it's just renaming elements. Fe pulls 'rating' as the ESRB and 'score' as the starpoint total. Would it be possible to add the ESRB field during the scraper based on the ESRB image for the game entr

[2016-10-02 16:11] sselph commented on #109
I actually pull from the API http://thegamesdb.net/api/GetGame.php?id=2 So there is an ESRB field provided. Screenscraper shows it as
[code]

So definitely possible. Do you know if any EmulationStation variants that are using this value? If would be nice to name it in a compatible way.

[2016-10-03 15:55] nostalgicamigo opened #110 "Support another open source FE output format"
sselph, is it possible to output to the hyperspin style xml format that RetroFE uses?

I know the best would be a standard format between FEs, but right now they're using different ones.

It would be nice to support another F/OSS project that would greatly benefit with a scraper good as yours!

[2016-10-04 00:09] sselph commented on #110
Do you have a link to some documentation for this format?

[2016-10-04 05:28] JamesInDigital commented on #110
It's mostly the same, just some different names for elements and their structure doesn't include file extension or link to image. It assumes those files have the same name as the rom/title. I actually decided to start learning python to do this conversion. So far I have a script that can extract the <desc> from your format, and save it as a text file with the game title. These text files can displ

[2016-10-12 00:05] HerbFargus opened #111 "Moby Games API"
Looks like another data source may be available. I would gather Moby games is a little more developed than thegamesdb.

http://www.mobygames.com/forums/dga,2/dgb,4/dgm,231400/

[2016-10-12 12:25] robertybob commented on #111
@HerbFargus Which platforms are more developed?

[2016-10-13 00:43] HerbFargus commented on #111
I was more referring to the stability of the server, Flexibility with regions etc. I haven't really looked into how extensive the platforms are. I really hope they remove their watermarks from the cover art though

[2016-10-18 04:20] shirizaan commented on #20
Are you accepting hashes for translated JP roms? There are a bunch of JP NES games that have been translated but they don't scrape.

[2016-10-19 02:45] sselph commented on #111
I looked at the API and it is nice. It is refreshing seeing an API implemented correctly. It has a normal REST layout and utilizes HTTP errors correctly. The main issue is that this doesn't already have some sort of No-Intro hash builtin. This is similar to thegamesdb but would mean we'd have to remap https://storage.googleapis.com/stevenselph.appspot.com/hash.csv.gz for the new database.

[2016-10-20 05:40] JamesInDigital commented on #110
I've got the converter working for RetroFE mostly. Still some testing to do, but I will post it soon if anyone is interested. It's somewhat hacky as someone very knew to python/programming, but works thus far. Currently I have a separate version for MAME as it doesn't require the renaming of the game field in the same way.

[2016-10-20 05:46] JamesInDigital opened #112 "Request: Pull <cloneof> element from MameDB"
Within the name element on MameDB:

B-Wings (Alt Ver.?)  (clone of: bwings)

The clone information is useful in some other frontends, RetroFE for my purposes.
When a <cloneof> is designated the program knows that it can fill any blanks as far as developer/publisher, year, ratings, and corresponding artwork/logos, based on its parent.

If you have the time and inclination it would be awesome if the

[2016-10-20 05:59] JamesInDigital commented on #109
Didn't find much info. Launchbox plans to implement it according to some threads I read, not sure if that has happened. Read some things about RocketLauncher, gameex handling ESRB in the same format as above ESRB - T (Teen). Of course there is also the possibility of AAMA, CERO, HSRS and PEGI rating systems, country-dependent.

RetroFE makes use of as per my original post via themes. The standard

[2016-10-20 19:14] Redemp opened #113 "Combine Mamedb and ScreenScraper.fr as a source when scanning for arcade games"
Hi i just found out that you added in ScreenScraper.fr in v1.1.10.

There a quite a lot of arcade games documented there so is it possible to use this one with the mame scanning at the same time to get as much result as possible?